<div class="positions" [formGroup]="form">
    <div class="red-side-positions">
        <div class="red-side-menu">
            <div>
                <input class="tank-radio radio-red form-control"
                        type="radio" 
                        formControlName="position"
                        id="red_1"
                        [value]="0"
                        (click)="onSetPosition()">
                <label for="red_1">RED 1</label>
            </div>
            <div>
                <input class="tank-radio radio-red form-control" 
                        type="radio" 
                        formControlName="position"
                        id="red_2"
                        [value]="1"
                        (click)="onSetPosition()">
                <label for="red_2">RED 2</label>
            </div>
            <div>
                <input class="tank-radio radio-red form-control"
                        type="radio"
                        formControlName="position"
                        id="red_3"
                        [value]="2"
                        (click)="onSetPosition()">
                <label for="red_3">RED 3</label>
            </div>
            <div>
                <input class="tank-radio radio-red form-control"
                        type="radio"
                        formControlName="position"
                        id="red_4"
                        [value]="3"
                        (click)="onSetPosition()">
                <label for="red_4">RED 4</label>
            </div>
        </div>
        <img src="../../../../../../../assets/images/game-settings/redBase.png" alt="redBase">
    </div>
    <div class="blue-side-positions">
        <img src="../../../../../../../assets/images/game-settings/blueBase.png" alt="blueBase">
        <div class="blue-side-menu">
            <div>
                <input class="tank-radio radio-blue form-control"
                        type="radio"
                        formControlName="position"
                        id="blue_1"
                        [value]="4"
                        (click)="onSetPosition()">
                <label for="blue_1">BLUE 1</label>
            </div>
            <div>
                <input class="tank-radio radio-blue form-control"
                        type="radio"
                        formControlName="position"
                        id="blue_2"
                        [value]="5"
                        (click)="onSetPosition()">
                <label for="blue_2">BLUE 2</label>
            </div>
            <div>
                <input class="tank-radio radio-blue form-control"
                        type="radio"
                        formControlName="position"
                        id="blue_3"
                        [value]="6"
                        (click)="onSetPosition()">
                <label for="blue_3">BLUE 3</label>
            </div>
            <div>
                <input class="tank-radio radio-blue form-control"
                        type="radio"
                        formControlName="position"
                        id="blue_4"
                        [value]="7"
                        (click)="onSetPosition()">
                <label for="blue_4">BLUE 4</label>
            </div>
        </div>
    </div>
</div>
