@import '../../../../../../../assets/styles/mixins';
@import '../../../../../../../assets/styles/variables';
@import '../../../../../../../assets/styles/colors';
@import '../../../../../../../assets/styles/animations';
@import '../../../../../../../assets/styles/images';
@import 'fonts.scss';


.pos-selection-title{
    @include media-property(display, flex, flex, flex, none);
    align-items: center;
    justify-content: center;
    padding: 10px;
    strong{
      display: flex;
      font-weight: bold;
      justify-content: center;
    }
  }
.positions{
    @include media-property(justify-content, center, center, space-around, space-around);
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    label{
        font-size: 1rem;
        white-space: nowrap;
    }
    img{
        padding: 10px;
    }
    .red-side-positions, .blue-side-positions{
        display: flex;
        justify-content: space-between;
        .red-side-menu, .blue-side-menu{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .pos-selection-title{
        @include media-property(display, none, none, none, flex);
      }
}
