@use 'mixins';
@use 'variables';
@use 'colors';
@use 'animations';
@use 'images';

//#slider:active{
//  //height: $header-height + 20px;
//  //content: '';
//  margin-top: -$header-height - 20px;
//  padding-top: $header-height + 20px;
//}

.wrapper {
  background-color: colors.$black;
  @include mixins.media-property(H, padding, 10px 10px, 10px 20px, 10px 30px, 10px 40px);

  a{
    text-decoration: none;
    display: flex;
    color: colors.$red;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$red;

    h3 {
      margin: 0 10px 0 0;
      cursor: pointer;
    }

    i {
      font-size: 2rem;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .slider-content::-webkit-scrollbar{
    display: none;
  }

  .slider-content {
    position: relative;
    transition: 1s;
    height: 0;
    display: grid;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    @include mixins.media-property(H, grid-template-rows, repeat(4, 75px), repeat(3, 115px), repeat(2, 150px), repeat(2, 150px));
    @include mixins.media-property(H, grid-row-gap, 10px, 15px, 20px, 20px);
    @include mixins.media-property(H, grid-column-gap, 10px, 15px, 20px, 20px);
    @include mixins.media-property(H, grid-auto-flow, column, column, column, column);

    img {
      object-fit: cover;
      border: 1px solid colors.$red;
      border-radius: 5px;
      cursor: pointer;
      @include mixins.media-property(H, width, 100px, 150px, 200px, 200px);
      @include mixins.media-property(H, height, 75px, 115px, 150px, 150px);
    }
  }
}
