<div class="wrapper" id="slider">
  <div class="title">
<!--    <a href="#slider">-->
      <h3 (click)="onVisible()">GALLERY</h3>
      <i *ngIf="!visible" (click)="onVisible()" class="fa-solid fa-angles-down"></i>
      <i *ngIf="visible" (click)="onVisible()" class="fa-solid fa-angles-up"></i>
<!--    </a>-->
  </div>
  <div #slider *ngIf="images.length "
       class="slider-content"
       (wheel)="onMoveLeft($event)">
    <img #image *ngFor="let image of images"
         alt="image"
         [src]="image.src.medium"
         (click)="onImage(image.id)">
  </div>
</div>



