<div class="inventory-wrapper">
  <div class="inventory-container">
    <div class="inventory-items">
      @for (invention of inventions(); track $index) {
        <div
          class="inventory-item"
          (dragenter)="onDragEnter($event)"
          (dragleave)="onDragLeave($event)">
          @if (!invention) {
            <div [ngClass]="{ 'icon-wrapper': true, 'icon-stub': !invention }">
              <img fill class="inventory-item-img" ngSrc="assets/icons/tank/invention-stub.svg" alt="#">
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
