<div class="wrapper">
  <h2 class="title">Change Password</h2>

  <form class="auth-form" [formGroup]="form">
    <tnm-input-text
      formControlName="password"
      inputType="password"
      placeholder="aaaaaaA1"
      [label]="'New Password'">
      <tnm-validation [formControl]="passwordControl()"></tnm-validation>
    </tnm-input-text>
    <tnm-input-text
      formControlName="confirmPassword"
      inputType="password"
      [label]="'Confirm New Password'">
      <tnm-validation [formControl]="confirmPasswordControl()"></tnm-validation>
    </tnm-input-text>
  </form>

  <button
    mat-flat-button
    type="button"
    class="mat-submit-btn"
    [disabled]="form.invalid"
    (click)="onChangePassword()">
    Change
  </button>
</div>
