@use 'animations';
@use 'colors' as colors;
@use 'mixins' as mixins;


.border-golden-anim {
  border-bottom: 2px solid transparent;

  &:hover {
    animation: border_golden_anim 0.3s ease-out 1 both;
    @include mixins.gradient-expansion(border_golden_anim, BI, to right, transparent, colors.$golden, transparent);
  }
}

.background-red-anim {
  animation: background_red_anim 0.3s ease-out 1 both;
  @include mixins.gradient-expansion(background_red_anim, BG, to right, transparent, colors.$red, transparent);
}
