@import "colors.scss";
@import "mixins.scss";

// .home-wrapper {
  .scrollbar {
    .view {
      width: 100%;
    }
    .track {
      background: transparent;
      border-radius: 0;
      width: 100% !important;
    }
    .thumb {
      border-radius: 10px;
      width: 40% !important;
      background-color: $golden !important;
    }
  }
// }

.selection, .profile-cards {
  .scrollbar {
    .track {
      border-radius: 0;
      height: 35% !important;
      background-color: $dark_grey !important;
      position: absolute !important;
      bottom: 0 !important;
    }
    .thumb {
      border-radius: 10px;
      height: 100% !important;
      position: absolute !important;
      bottom: 0 !important;
      background-color: $golden !important;
    }
  }
}
