@use 'variables' as variables;
@use 'mixins' as mixins;

:host {
  .wrapper {
    justify-content: space-between;
    width: 100%;
    font-size: 22px;
    text-transform: capitalize;
    background: var(--mat-sys-background);
    height: variables.$welcome-header-height;
    overflow: visible;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 15px -10px var(--mat-sys-primary) !important;
    @include mixins.vm-media(
      horizontal,
          (padding, (0 30px, 0 50px, 0 80px))
    );

    .logo {
      flex-shrink: 0;
      border-radius: 50%;
      margin-right: 30px;
      background-image: radial-gradient(
          circle at center,
          var(--mat-sys-on-background) 10%,
          var(--mat-sys-background),
          transparent
      );
      @include mixins.vm-media(horizontal, (margin-left, (45px, 45px, 0)));
    }

    .left-header-container {
      display: flex;
      align-items: center;

      .nav-list {
        display: flex;
        gap: 30px;
        padding-top: 3px;
        list-style: none;

        .nav-link {
          color: var(--mat-sys-on-background);
          text-decoration: none;
          position: relative;
          @include mixins.hover-underline(2px, 3px, var(--mat-sys-primary));
        }
      }
    }

    .right-header-container {
      display: flex;
      align-items: center;
      height: 60%;
      gap: 30px;

      & > * {
        flex-shrink: 0;
      }

      .sign-in-btn {
        font-size: 22px;
      }

      hr {
        height: 100%;
        border-color: var(--mat-sys-primary);
      }
    }

    .burger-btn {
      width: 30px;
      height: 30px;
      color: var(--mat-sys-on-background);
    }
  }
}
