@use 'mixins' as mixins;

.auth-dialog {

  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .login-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    color: var(--mat-sys-primary);

    & > * {
      position: relative;
      overflow: visible;
      cursor: pointer;

      &:hover {
        background: transparent;
        box-shadow: none;
      }

      @include mixins.hover-underline(1px, 2px, var(--mat-sys-primary));
    }
  }
}
