@import "mixins.scss";
@import "colors.scss";
@import "variables.scss";
@import "classes/anim.scss";

.auth-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 30px;
  padding: 30px 25px;
  background: $black;
  h3 {
    color: $golden;
  }
  .separator {
    display: flex;
    margin-top: 10px;
    column-gap: 15px;
    width: 100%;
    hr{
      border-color: $light-grey;
      flex-grow: 1;
      height: 0;
    }
    p {
      color: $light-grey;
    }
  }
  .services {
    display: flex;
    column-gap: 25px;
    width: 100%;
    justify-content: center;
    .auth {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      background: $golden;
      i {
        font-size: 2rem;
        color: $black;

        &:active {
          font-size: 1.9rem;
        }
      }
    }
  }
  .account {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    a {
      color: $golden;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
