<ng-scrollbar class="scrollbar"
              [viewClass]="'view'"
              [thumbClass]="'thumb'"
              [trackClass]="'track'">
  <div class="auth-menu-wrapper">
    <h3>PANZER</h3>
    <div class="form"
         [formGroup]="form">
      <div [ngClass]="{'form-item': true,
                     'invalid-input': isInvalidForm}">
        <input type="email"
               class="form-control"
               formControlName="email"
               placeholder="Email">
      </div>
      <div [ngClass]="{'form-item': true,
                     'invalid-input': isInvalidForm}">
        <div class="password-wrapper">
          <input class="form-control"
                 formControlName="password"
                 placeholder="Password"
                 [type]="isVisiblePassword ? 'text' : 'password'">
          <i *ngIf="!isVisiblePassword" class="fa-solid fa-eye" (click)="onVisiblePassword()"></i>
          <i *ngIf="isVisiblePassword" class="fa-solid fa-eye-slash" (click)="onVisiblePassword()"></i>
        </div>
      </div>
      <small class="error-msg"
             [ngStyle]="{'visibility': isInvalidForm ? 'visible' : 'hidden'}">
        invalid email or password
      </small>
      <button class="demo-btn" (click)="onLogin()">Login in</button>
    </div>
    <div class="separator">
      <hr>
      <p>or login in with</p>
      <hr>
    </div>
    <div class="services">
      <div class="auth">
        <i class="fa-brands fa-facebook-f"></i>
      </div>
      <div class="auth">
        <i class="fa-brands fa-google"></i>
      </div>
    </div>
    <div class="account">
      <a href="#" (click)="onSignUp()">Create new account</a>
      <a href="#">Forgot password?</a>
    </div>
  </div>
</ng-scrollbar>
