@use "mixins";
@use "colors";
@use "variables";
@use "animations";

  vmc-drop-panel {
    overflow: hidden;
  }

  .title-page-header-menu {
    top: calc(50vh + #{variables.$header-height} / 2);
    height: calc(100vh - #{variables.$header-height} + 1px);
    position: fixed;
    overflow: hidden;
    @include mixins.media-property(H, display, block, block, none);
    @include mixins.media-property(H, width, 100vw, 50%, 400px);
    @include mixins.media-property(H, border-right, none, 1px solid colors.$golden06);

    &.visible {
      animation: make_visible_move_right_on_start 0.5s ease-out 1 both;
    }

    &.hidden {
      animation: make_hidden_move_left_from_start 0.5s ease-out 1 both;
    }
  }
