@import "mixins.scss";
@import "colors.scss";
@import "variables.scss";
@import "animations.scss";

  vmc-drop-panel {
    overflow: hidden;
  }
  
  .title-page-header-menu {
    @include media-property(H, display, block, block, none);
    @include media-property(H, width, 100vw, 50%, 400px);
    @include media-property(H, border-right, none, 1px solid $golden06);
    top: $header-height;
    bottom: 0;
    position: fixed;
    overflow: hidden;
  
    &.visible {
      animation: header_menu_go_right_visible 0.5s ease-out 1 both;
    }
  
    &.hidden {
      animation: header_menu_go_left_hidden 0.5s ease-out 1 both;
    }
  }