@import 'mixins.scss';
@import 'variables.scss';
@import 'colors.scss';
@import 'animations.scss';
@import 'images.scss';

.wrapper {
    display: flex;
    flex-wrap: wrap;
    @include media-margin(0 0 50px, 0 20px 50px, 0 50px 50px);
    app-navbar{
        width: 100%;
    }
    .mt-50{
        margin: 50px 0 0 0;
        justify-content: center;
        @media screen and (max-width: $sm) {
            flex-wrap: wrap;
        }
        #right_panel{
            @media screen and (min-width: $sm) {
                margin-left: 25px;
            }
        }
        .mb-50{
            width: 50%;
            margin-bottom: 50px;
            @media screen and (max-width: $sm) {
                width: 100%;
            }
            .smile{
                background-image: $img-smile;
                width: $img-smile-width;
                height: $img-smile-height;
            }
            .testGame {
                margin: 50px 0;
                @include media-font-size(1.3rem, 1.4rem, 1.5rem, 1.6rem);
                width: 60%;
                font-size: 1.7rem;
                height: 50px;
            }
        }
    }
}