@import "src/assets/styles/colors";
@import "src/assets/styles/variables";
@import "src/assets/styles/animations";
@import "src/assets/styles/mixins";
@import "images.scss";
.wrapper{
  @include media-property(H, width, 90%, 400px, 400px, 400px);
  @include media-property(H, top, 80px, 80px, 80px, 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5000;
  background: $black;
  border-radius: 5px;
  box-shadow: 0 0 6px 2px $red;
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding-top: 15px;

    i {
      color: #FFFFFF;
      font-size: 1.5rem;
      cursor: pointer;
      border-radius: 50%;
      padding: 0 20px;
    }

    i:active {
      font-size: 1.3rem;
    }
  }
  .form{
    @include media-property(H, width, 90%, 80%, 80%, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-item-wrapper{
      display: flex;
      width: 90%;
      margin-bottom: 10px;
      flex-direction: column;
      align-items: center;
      label{
        margin: 0 0 5px;
      }
      .password-wrapper{
        width: 100%;
        padding: 5px 10px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border-radius: 50px;
        i{
          @include media-property(H, font-size, 1.2rem, 1.3rem, 1.4rem, 1.5rem);
          color: $black;
          cursor: pointer;
        }
        input{
          padding: 0 15px 0 0;
          border-radius: 0;
          width: 100%;
        }
      }
      input[type=text], input[type=password]{
        @include media-property(H, font-size, 1rem, 1.1rem, 1.2rem, 1.2rem);
        width: 100%;
        font-family: Raleway-Light, sans-serif;
        border-radius: 50px;
        border: none;
        padding: 5px 10px;
        outline: none;
      }
      .invalid-input{
        width: 100%;
        display: block;
        padding-top: 3px;
        font-family: Raleway-Light, sans-serif;
        color: $red;
        text-shadow: 0 0 1px #ffffff;
      }
    }
  }
  .container{
    margin-top: 20px;
  }
  .btn-wrapper{
    display: flex;
    width: 90%;
    justify-content: space-around;
  }
  .btn{
    @include media-property(H, font-size, 1.2rem, 1.3rem, 1.4rem, 1.5rem);
    padding: 10px 20px;
    margin: 20px 0 30px;
  }
}

.modal-go-left {
  @include media-property(H, animation,
    modal_go_left_xs 0.5s ease-out 1 both,
    modal_go_left_sm 0.5s ease-out 1 both,
    modal_go_left_md 0.5s ease-out 1 both,
    modal_go_left_lg 0.5s ease-out 1 both);
}

.modal-go-hidden {
  @include media-property(H, animation,
  modal_go_left_hidden_xs 0.5s ease-out 1 both,
  modal_go_left_hidden_sm_md_lg 0.5s ease-out 1 both,
  modal_go_left_hidden_sm_md_lg 0.5s ease-out 1 both,
  modal_go_left_hidden_sm_md_lg 0.5s ease-out 1 both);
}
