$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$welcome-header-height: 90px;
$inventory-width-ms: 300px;
$inventory-width-md: 500px;
$inventory-height-sm: 196px;
$inventory-height-md: 226px;
