@use 'mixins' as mixins;

:host {
  .shop-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include mixins.vm-media(horizontal,
        (gap, (8px, 10px)),
    );
    .shop-item {
      @include mixins.vm-media(horizontal,
          (width, (60px, 70px, 80px)),
          (height, (60px, 70px, 80px)),
      );
    }
  }
}
