<ng-template>
  <div class="wrapper"
       [ngClass]="anim ? 'modal-go-left' : 'modal-go-hidden'">
    <h3>Sign up</h3>
    <form class="form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()">
      <div class="form-item-wrapper">
        <label for="nickname">Nickname</label>
        <input class="form-control"
               type="text"
               id="nickname"
               formControlName="nickname"
               placeholder="nickname">
        <small class="invalid-input"
               *ngIf="isErrorReq['nickname'] || isInvalid('nickname', form.get('nickname'))">
          {{invalidMsg['nickname']}}
        </small>

      </div>
      <div class="form-item-wrapper">
        <label for="email">Email</label>
        <input class="form-control"
               type="text"
               id="email"
               formControlName="email"
               placeholder="email">
        <small class="invalid-input"
               *ngIf="isErrorReq['email'] || isInvalid('email', form.get('email'))">
          {{invalidMsg['email']}}
        </small>
      </div>
      <div class="form-item-wrapper">
        <label for="password">Password</label>
        <input class="form-control"
               type="text"
               id="password"
               formControlName="password"
               placeholder="password">
        <small class="invalid-input"
               *ngIf="isInvalid('password', form.get('password'))">
          {{invalidMsg['password']}}
        </small>
      </div>
      <div class="form-item-wrapper">
        <label for="confirm">Confirm password</label>
        <input class="form-control"
               type="text"
               id="confirm"
               formControlName="confirm"
               placeholder="password">
        <small class="invalid-input"
               *ngIf="isInvalid('confirm', form.get('password'), form.get('confirm'))">
          {{invalidMsg['confirm']}}
        </small>
      </div>
      <button class="btn"
              type="submit"
              [disabled]="form.invalid">
        SUBMIT
      </button>
    </form>
  </div>
</ng-template>
