<ng-template>
  <div class="wrapper"
       [ngClass]="anim ? 'modal-go-left' : 'modal-go-hidden'">
    <div class="header">
      <i class="fa-solid fa-arrow-left" (click)="onBack()"></i>
    </div>
        <label>Code</label>
        <code-input [capacity]="capacity"
                    (codeEvent)="codeHandler($event)">
        </code-input>
        <small class="invalid-input"
               *ngIf="invalidMsg">
          {{invalidMsg}}
        </small>
      <small>We`ve sent you a code to {{email}}. Please check it.
      </small>
      <p *ngIf="timer" class="timer">{{timer}}</p>
      <small *ngIf="!timer" class="link" (click)="onSendCode()">Resend code</small>
  </div>
</ng-template>
