@import "../../../../../assets/styles/modals/loginModal";
small{
  margin-top: 10px;
  text-align: center;
}

code-input{
  display: flex;
  ::ng-deep{
    .code-input-cell{
      width: 1.5rem;
      margin: 3px;
      padding: 5px;
      font-family: Roboto-Light, sans-serif;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      border: none;
      outline: none;
    }
  }
}

.timer{
  font-family: Roboto-Light, sans-serif;
  margin: 20px;
}

.link{
  margin: 20px;
}

.invalid-input{
  margin: 0;
  width: 100%;
  display: block;
  padding-top: 3px;
  font-family: Raleway-Light, sans-serif;
  color: $red;
  text-shadow: 0 0 1px #ffffff;
}

