<ng-template>
  <div class="wrapper"
       [ngClass]="anim ? 'modal-go-left' : 'modal-go-hidden'">
    <h3>Sign up</h3>
    <p>We have sent an email with secret code to your email address. Check your email and enter the code...</p>
    <form class="form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()">
      <div class="form-item-wrapper">
        <label for="code">Code</label>
        <input class="form-control"
               type="text"
               id="code"
               formControlName="code"
               placeholder="code">
        <small class="invalid-input"
               *ngIf="isErrorReq['code'] || isInvalid('code', form.get('code'))">
          {{invalidMsg['code']}}
        </small>
      </div>
      <button class="btn">
        Re-Send Code
      </button>
      <button class="btn"
              type="submit"
              [disabled]="form.invalid">
        SUBMIT
      </button>
    </form>
  </div>
</ng-template>
