@import 'mixins.scss';
@import 'variables.scss';
@import 'colors.scss';
@import 'animations.scss';
@import 'images.scss';
#test_game_panel{
    margin: 0;
    background-color: $dark-grey;
    padding: 30px;
    scroll-margin: 0;
    scroll-padding: 0;
}
canvas{
    cursor:  url(../../../../assets/images/cursor.png) 20 20, auto;
}