@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/images';

hr {
  @include media-property(H, display, block, block, none, none);
  margin: 3px;
}

p {
  @include media-property(H, margin, 0, 0, 0 20px 0 0, 0 30px 0 0);
  text-align: start;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 5px;
  white-space: nowrap;
}

p:hover {
  @include media-property(H, border-bottom-color, transparent, transparent, $red, $red);
  @include media-property(H, color, $red, $red, #fff, #fff);
}

.navbar {
  @include media-property(H, justify-content, space-between, space-between, start, start);
  @include media-property(H, padding, 10px, 10px 20px, 10px 30px, 10px 40px);
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: $black;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  .btn-menu {
    @include media-property(H, display, flex, flex, none, none);
    width: $img-logo-width;
    height: $img-logo-height;
    background-image: $img-logo;
    transition: 1s;
    border: solid transparent 0;
    cursor: pointer;
  }

  .btn-menu:hover {
    transform: rotate(90deg);
  }

  .gameLogo {
    @include media-property(H, margin, 0 10px, 0 20px, 0 20px 0 0, 0 30px 0 0);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: $black;
    background-image: $img-gameLogo;
    width: $img-gameLogo-width;
    height: $img-gameLogo-height;
    border-radius: 5px;
  }

  .menu-wrapper {
    @include media-property(H, display, none, none, flex, flex);
    justify-content: end;
    width: 100%
  }

  .language {
    @include media-property(H, margin, 0 10px 0 0, 0 20px 0 0, 0 20px 0 0, 0 30px 0 0);
    display: flex;
    align-items: center;

    .language-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      //border: 1px solid #ffffff;
      cursor: pointer;
      padding: 2px;
      object-fit: contain;
    }
  }
}
