<div class="navbar">
  <button type="button"
          class="btn-menu"
          [dropModal]=menu
          [staticBackdrop]="false">
  </button>
  <div class="gameLogo"></div>
  <div class="menu-wrapper">
    <ng-container *ngTemplateOutlet="menuContent"></ng-container>
  </div>
  <div class="language">
    <img src="../../../../../assets/images/usa-icon.svg" alt="lang" class="language-icon">
  </div>
</div>


<app-menu #menu [emitClosed]="closeDropElement">
  <ng-container *ngTemplateOutlet="menuContent"></ng-container>
</app-menu>
<app-auth-menu #authMenu></app-auth-menu>

<ng-template #menuContent>
  <p [dropModal]="authMenu"
     (click)="onMenuItem()">Cabinet</p>
  <hr>
  <p>About</p>
  <hr>
</ng-template>

