<div class="navbar">
    <button type="button" class="btn-menu"  [appDropMenu] = menu></button>
    <div class="gameLogo"></div>
    <div class="menu-wrapper">
        <ng-container *ngTemplateOutlet="menuContent"></ng-container>
    </div>
    <div class="gallery-language-wrapper">
        <!-- <div class="gallery">
            <p>Gallery</p>
            <div class="gallery-icon"></div>
        </div> -->
        <div class="language">
            <!-- <p>USA</p> -->
            <img src="../../../../../assets/images/usa-icon.svg" alt="lang" class="language-icon">
        </div>
    </div>
</div>
<app-menu #menu [emitClosed]="closeDropElement">
    <ng-container *ngTemplateOutlet="menuContent"></ng-container>
</app-menu>

<app-login-modal #login></app-login-modal>

<ng-template #menuContent>
    <p class="item-text" [appDropMenu]="login" (click)="closeDropElement = !closeDropElement">Sign Up</p>
    <hr>
    <p class="item-text" [appDropMenu]="login" (click)="closeDropElement = !closeDropElement">Sign In</p>
    <hr>
    <p>About</p>
    <hr>
</ng-template>

