@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/mixins';
@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/images';

.navbar {
  @include media-property(justify-content, space-between, space-between, start, start);
  @include media-property(padding, 10px, 10px 20px, 10px 30px, 10px 40px);
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: $black;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
    .btn-menu {
      @include media-property(display, flex, flex, none, none);
      width: $img-logo-width;
      height: $img-logo-height;
      border-radius: 5px;
      background-image: $img-logo;
      transition: 1s;
      border: solid transparent 0;
      cursor: pointer;
    }

    .btn-menu:hover {
      transform: rotateZ(90deg);
    }

    .btn-menu:active {
      transition: 0s;
      box-shadow: $click-shadow;
    }

    .gameLogo {
      @include media-property(margin, 0 10px, 0 20px, 0 20px 0 0, 0 30px 0 0);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $black;
      background-image: $img-gameLogo;
      width: $img-gameLogo-width;
      height: $img-gameLogo-height;
      border-radius: 5px;
    }

    app-menu {
      @include media-property(display, none, none, block, block);
    }
}
