    <h1>SETTINGS</h1>
    <div class="settings">
        <div class="settings-menu">
            <button class="settings-item">Start position</button>
            <button class="settings-item">Tank skin</button>
            <button class="settings-item">Muzzle skin</button>
        </div>
        <div class="game-settings">
            <div class="position-panel">
                <div class="row base-img">
                    <img src="../../../../../assets/images/game-settings/redBase.png" alt="redBase">
                    <img src="../../../../../assets/images/game-settings/blueBase.png" alt="blueBase">
                </div>
                <div appStartPosition class="row start-position">
                    <div class="red-side">
                        <div>
                            <input class="tank-radio radio-red" type="radio" id="red_1">
                            <label for="red_1">RED 1</label>
                        </div>
                        <div>
                            <input class="tank-radio radio-red" type="radio" id="red_2">
                            <label for="red_2">RED 2</label>
                        </div>
                        <div>
                            <input class="tank-radio radio-red" type="radio" id="red_3">
                            <label for="red_3">RED 3</label>
                        </div>
                        <div>
                            <input class="tank-radio radio-red" type="radio" id="red_4">
                            <label for="red_4">RED 4</label>
                        </div>
                    </div>
                    <div class="blue-side">
                        <div>
                            <input class="tank-radio radio-blue" type="radio" id="blue_1">
                            <label for="blue_1">BLUE 1</label>
                        </div>
                        <div>
                            <input class="tank-radio radio-blue" type="radio" id="blue_2">
                            <label for="blue_2">BLUE 2</label>
                        </div>
                        <div>
                            <input class="tank-radio radio-blue" type="radio" id="blue_3">
                            <label for="blue_3">BLUE 3</label>
                        </div>
                        <div>
                            <input class="tank-radio radio-blue" type="radio" id="blue_4">
                            <label for="blue_4">BLUE 4</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
