@import "mixins.scss";
@import "variables.scss";
@import "animations.scss";

.static{
  @include media-property(display, none, none, flex, flex);
}
.drop{
  @include media-property(display, block, block, none, none);
  @include media-property(margin, 10px 0 0 0, 10px 0 0 0, 0, 0);
  z-index: 5000;
  position: absolute;
  animation: menu_go_right 0.8s ease-out 1 both;
}

.nav-menu {
  position: relative;
  hr {
    @include media-property(display, block, block, none, none);
  }

  p {
    @include media-property(margin, 0 10px 0 0, 0 20px 0 0, 0 20px 0 0, 0 30px 0 0);
    display: inline;
    font-family: WaitingfortheSunrise-Regular, sans-serif;
    font-weight: bold;
    text-align: start;
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;
  }

  p:hover {
    $animation: border3px-anim 1500ms linear 0s infinite normal both;
    @include media-property(color, #6495ed, #6495ed, #fff, #fff);
    @include media-property(border-color, transparent, transparent, #8b4513, #8b4513);
    @include media-property(animation, none, none, $animation, $animation);
    text-shadow: $text-shadow;
  }
}
