<header>
  <div class="panel">
    <div class="first-column">
      <div class="text"><span>1 233 567</span>
        <div class="icon-golden"><p>$</p></div>
      </div>
      <hr>
      <div class="text"><span>123</span>
        <div class="icon-blue"><p>H</p></div>
      </div>
    </div>
    <div class="line"></div>
    <div class="second-column">
      <div class="progress-bar">
        <p class="level"></p>
      </div>
      <span class="value-to-next">EXP to next: {{valueToNextLevel}}</span>
    </div>
    <div class="line"></div>
    <div class="third-column">
      <div class="player-avatar">
        <div class="avatar"><img
          src="https://www.citypng.com/public/uploads/preview/free-round-flat-male-portrait-avatar-user-icon-png-11639648873oplfof4loj.png"
          alt=""></div>
      </div>
      <div class="player-profile">
        <div class="nickname"><p>player_name</p></div>
        <button class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>LogOut</span></button>
      </div>
    </div>
  </div>
</header>
