<div class="wrapper">
  <h2 class="title">{{ 'SHOP...' }}</h2>

  <strong [class]="'message ' + data.type"> {{ data.message }} </strong>

  <div class="shop-item-wrapper">
    <tnm-game-item-btn
      class="shop-item"
      [iconSrc1]="data.shopItem.item.path"
      [priced]="true"
      [price]="data.shopItem.price">
    </tnm-game-item-btn>
  </div>

  <div class="nav-buttons">
    @if (data.type === types.Success) {
      <button
        mat-flat-button
        type="button"
        class="mat-submit-btn cancel-btn"
        (click)="onCancel()">
        CANCEL
      </button>
    }
    <button
      mat-flat-button
      type="button"
      class="mat-submit-btn"
      (click)="onConfirm()">
      OKAY
    </button>
  </div>
</div>
