
<div class="wrapper">
  <tnm-tank-view
    [tankName]="tank()?.name"
    [selectedTankBody]="tank()?.body"
    [selectedTankHead]="tank()?.head"
    (tankNameChange)="onTankNameChange($event)">
  </tnm-tank-view>

  <div class="tank-details">
    <div class="tank-details-container">
      <tnm-tank-detail-container
        [iconSrc]="tank()?.head?.path ?? '#'"
        (dragover)="$event.preventDefault()"
        (drop)="onTankItemChange()">
      </tnm-tank-detail-container>
      <tnm-tank-detail-container
        [iconSrc]="tank()?.body?.path ?? '#'"
        (dragover)="$event.preventDefault()"
        (drop)="onTankItemChange()">
      </tnm-tank-detail-container>
      <tnm-tank-detail-container
        iconSrc="assets/icons/tank/red-bullet.svg"
        [quantity]="25500"
        [isMany]="true">
      </tnm-tank-detail-container>
      <tnm-tank-detail-container
        iconSrc="assets/icons/tank/blue-bullet.svg"
        [quantity]="12500"
        [isMany]="true">
      </tnm-tank-detail-container>
      <tnm-tank-detail-container
        iconSrc="assets/icons/tank/green-bullet.svg"
        [quantity]="3500"
        [isMany]="true">
      </tnm-tank-detail-container>
      <tnm-tank-detail-container
        iconSrc="assets/icons/tank/gold-bullet.svg"
        [quantity]="1500"
        [isMany]="true">
      </tnm-tank-detail-container>
    </div>
    @if (tank()) {
      <tnm-tank-inventions class="inventions" [inventions]="tank().inventions"></tnm-tank-inventions>
    }
  </div>
</div>
