
<div class="wrapper">
  <tnm-tank-view
    [tankName]="tank()?.name"
    [selectedTankBody]="tank()?.hull"
    [selectedTankHead]="tank()?.turret"
    (tankNameChange)="onTankNameChange($event)">
  </tnm-tank-view>

  <div class="tank-details">
    <div class="tank-details-container">
      <tnm-tank-detail-container
        [iconSrc]="tank()?.turret?.path ?? '#'"
        (dragover)="$event.preventDefault()"
        (drop)="onTurretChange()">
      </tnm-tank-detail-container>
      <tnm-tank-detail-container
        [iconSrc]="tank()?.hull?.path ?? '#'"
        (dragover)="$event.preventDefault()"
        (drop)="onHullChange()">
      </tnm-tank-detail-container>
      @for (bullet of tank()?.bullets; track $index) {
        <div class="tank-detail-wrapper">
          <tnm-tank-detail-container
            [iconSrc]="bullet?.path"
            [quantity]="bullet?.quantity"
            [isMany]="true"
            (dragover)="$event.preventDefault()"
            (drop)="onBulletChange($index)">
          </tnm-tank-detail-container>
          <button
            mat-button
            type="button"
            class="menu-trigger"
            [matMenuTriggerFor]="menu"
            (menuClosed)="onMenuClosed()">
            Menu
          </button>
          <mat-menu #menu="matMenu">
            <tnm-quantity-menu
              (quantityChange)="onItemQuantityChange($event)">
            </tnm-quantity-menu>
          </mat-menu>
        </div>
      }
    </div>
    @if (tank()) {
      <tnm-tank-inventions class="inventions" [inventions]="tank().inventions"></tnm-tank-inventions>
    }
  </div>
</div>
