
<div class="wrapper">
  <tnm-tank-view
    [tankName]="tank()?.name"
    [selectedTankBody]="tank()?.hull"
    [selectedTankHead]="tank()?.turret"
    (tankNameChange)="onTankNameChange($event)">
  </tnm-tank-view>

  <div class="tank-details">
    <div class="tank-details-container">
      <tnm-tank-detail-container
        [iconSrc]="tank()?.turret?.path ?? '#'"
        (dragover)="$event.preventDefault()"
        (drop)="onTankItemChange()">
      </tnm-tank-detail-container>
      <tnm-tank-detail-container
        [iconSrc]="tank()?.hull?.path ?? '#'"
        (dragover)="$event.preventDefault()"
        (drop)="onTankItemChange()">
      </tnm-tank-detail-container>
      @for (bullet of tank()?.bullets; track $index) {
        <tnm-tank-detail-container
          [iconSrc]="bullet?.path"
          [quantity]="bullet?.quantity"
          [isMany]="true">
        </tnm-tank-detail-container>
      }
<!--      <tnm-tank-detail-container-->
<!--      assets/icons/tank/red-bullet.svg-->
<!--        iconSrc="assets/icons/tank/blue-bullet.svg"-->
<!--        [quantity]="12500"-->
<!--        [isMany]="true">-->
<!--      </tnm-tank-detail-container>-->
<!--      <tnm-tank-detail-container-->
<!--        iconSrc="assets/icons/tank/green-bullet.svg"-->
<!--        [quantity]="3500"-->
<!--        [isMany]="true">-->
<!--      </tnm-tank-detail-container>-->
<!--      <tnm-tank-detail-container-->
<!--        iconSrc="assets/icons/tank/gold-bullet.svg"-->
<!--        [quantity]="1500"-->
<!--        [isMany]="true">-->
<!--      </tnm-tank-detail-container>-->
    </div>
    @if (tank()) {
      <tnm-tank-inventions class="inventions" [inventions]="tank().inventions"></tnm-tank-inventions>
    }
  </div>
</div>
