<app-gameboard-header></app-gameboard-header>
<div class="gameboard-wrapper">
  <div class="navigation-menu">
    <ul class="buttons" *ngFor="let button of navLinks">
      <li>
        <a href="{{button.link}}"><i class="{{button.icon}}"></i><span>{{button.title}}</span></a>
      </li>
    </ul>
  </div>

  <div class="play-box">
    <div class="left-side-content">
      <a href="#" class="btn-play">PLAY</a>
      <a href="#" class="btn-gameMode">Game Mode</a>
    </div>
    <div class="right-side-content">
      <a href="#" class="btn-randomMap">Random Map</a>
    </div>
  </div>
</div>
