<app-gameboard-header></app-gameboard-header>

<div class="gameboard-wrapper">
  <div class="navigation-menu">
    <ul class="buttons" *ngFor="let button of navLinks">
      <li>
        <a href="{{button.link}}"><i class="{{button.icon}}"></i><span>{{button.title}}</span></a>
      </li>
    </ul>
  </div>

  <ng-scrollbar class="scrollbar"
                [viewClass]="'view'"
                [thumbClass]="'thumb'"
                [trackClass]="'track'">
    <div class='content-wrapper'>
      <div class='row center'>
        <div class='column center'>
          <h2 class="hide-text">My Stats</h2>
          <div class="play-box-column">
            <div class="left-side-content">
              <a href="#" class="btn-play">PLAY</a>
              <a href="#" class="btn-gameMode">Game Mode</a>
            </div>
            <div class="right-side-content">
              <a href="#" class="btn-randomMap">Random Map</a>
            </div>
          </div>
          <div class="invite-players">
            <h2>Invite to Session</h2>
            <hr>
            <div class="my-team">
              <h2>My team</h2>
              <div *ngFor="let player of invitePlayers">
                <a href="{{player.link}}" class="add-player"><i class="fa-solid fa-user-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class='column hide-column'>
          <div class='my-stats-column'>
            <h2>My Stats</h2>
            <hr>
            <div class="row">
              <div class="column">
                <div class="rank">
                  <img src="./assets/images/gameboard/Immortal-3-Valorant-Rank%201.png" class="rank-img" alt="Rank medal">
                  <h1 class="rank-text">General VII</h1>
                  <p class="rank-digit">Rating: 789</p>
                </div>
              </div>
              <div class="column">
                <p style="color: #FFFFFF;"> тут буде графік</p>
              </div>
            </div>
            <a href="#" class="btn-showAll">See All</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="notification">
      <span><i class="fa-solid fa-comment-dots"></i></span>
      <span class="badge">3</span>
    </a>
  </ng-scrollbar>
</div>
