@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins';

.gameboard-wrapper {
  @include media-property(H, margin-top, 92px, 98px + 40px);
  height: calc(100% - 98px);

  .navigation-menu {
    display: flex;
    justify-content: center;

    .buttons {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;

      li {
        float: left;
        position: relative;

        a {
          @include media-property(H, width, 56px, 56px, 148px);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 56px;
          background: #A18E7B;
          color: $white;
          margin: 0 10px;
          padding: 2px 5px;
          border: none;
          border-radius: 20px;
          font-family: RopaSans-Regular, Raleway-Thin, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          text-decoration: none;

          i {
            @include media-property(H, margin-right, 0, 0, 5px);
            vertical-align: baseline;
            margin-right: 5px;
          }

          span {
            @include media-property(H, visibility, hidden, hidden, visible);
            @include media-property(H, display, none, none, inline-block);
          }
        }

        a:hover {
          background: $golden;
        }
      }
    }
  }

  .play-box {
    margin: 50px;
    display: flex;
    width: 174px + 346px + 10px;

    .left-side-content {
      flex-direction: column;
      display: flex;
      flex-grow: 1;
      margin-right: 10px;
      color: $white;

      .btn-play {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 174px;
        height: 174px;
        margin-bottom: 14px;

        font-family: RopaSans-Regular, Raleway-Thin, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 43px;

        border: none;
        border-radius: 8px;

        color: $white;
        background: $golden;

        text-decoration: none !important;
      }

      .btn-gameMode {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 174px;
        height: 50px;

        font-family: RopaSans-Regular, Raleway-Thin, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 21px;

        border: 1px solid $white;
        border-radius: 8px;

        color: $white;
        text-decoration: none !important;
      }
    }

    .right-side-content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px 5px;

      flex: 0 0 346px;
      border: 1px solid $white;
      border-radius: 8px;
      color: $white;

      background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("~src/assets/images/title-img.png");
      background-clip: content-box;
      background-size: cover;

      .btn-randomMap {
        position: relative;
        padding: 4px 54px;
        border: none;
        border-radius: 8px;
        color: $white;
        background-color: $golden;
        text-decoration: none !important;
      }
    }
  }
}
