<app-gameboard-header></app-gameboard-header>
<div class="gameboard-wrapper">
  <div class="navigation-menu">
    <ul class="buttons" *ngFor="let button of navLinks">
      <li>
        <a href="{{button.link}}"><i class="{{button.icon}}"></i><span>{{button.title}}</span></a>
      </li>
    </ul>
  </div>


  <div class='content-wrapper'>
    <div class='row'>
      <div class='column center'>
        <div class='play-box-column'>
          <div class="play-box">
            <div class="left-side-content">
              <a href="#" class="btn-play">PLAY</a>
              <a href="#" class="btn-gameMode">Game Mode</a>
            </div>
            <div class="right-side-content">
              <a href="#" class="btn-randomMap">Random Map</a>
            </div>
          </div>
        </div>
      </div>
      <div class='column'>
        <div class='my-stats-column'>
          <h2>My Stats</h2>
          <hr>
          <div class="row">
            <div class="column">
              <div class="rank">
                <img src="" class="rank-img">
                <h1 class="rank-text">General VII</h1>
                <p class="rank-digit">Rating: 789</p>
              </div>
            </div>
            <div class="column">
              daad
            </div>
          </div>

          <a href="#" class="btn-showAll">See All</a>
        </div>
      </div>
    </div>
  </div>


</div>
