@use '../../../../src/assets/styles/variables' as variables;
@use '../../../../src/assets/styles/mixins' as mixins;

.shops-inventory {

  .mat-mdc-tab-body-wrapper {
    width: 100%;
    height: 250px;
  }

  .mat-mdc-tab-body-content {
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }

  .mdc-tab {
    @include mixins.vm-media(
        horizontal,
          (padding, (3px, 5px, 10px, 15px, 24px)),
    );
    min-width: auto;
  }

  .mdc-tab__content {
    height: auto;
  }
}
