
.tnm-text-input {
  .mat-mdc-text-field-wrapper {
    border-radius: 8px !important;

    .mdc-line-ripple {
      display: none;
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
