<vmc-drop-panel #authMenu
                [vmdDropPanel]="authMenu"
                [trigger]="authCodeTrigger$.value"
                [hasBackdrop]="true"
                [staticBackdrop]="true"
                [animDaley]="500"
                [backdropClass]="'overlay-black08'"
                (triggerEvent)="triggerHandler($event, authCodeTrigger$)">
  <app-auth-code [ngClass]="['auth-code',
                            (authCodeTrigger$.value) ? 'visible' : 'hidden']">
  </app-auth-code>
</vmc-drop-panel>
