@use "mixins";
@use "colors";
@use "animations";

.auth-code {
  top: 50%;
  max-height: 350px;
  height: 100%;
  display: block;
  position: fixed;
  border-radius: 20px;
  border: 1px solid colors.$golden;
  overflow: hidden;
  background: colors.$black;
  @include mixins.media-property(H, display, block, block);
  @include mixins.media-property(H, width, 90%, 450px);

  &.visible {
    animation: make_visible_move_left_on_center 0.5s ease-out 1 both;
  }

  &.hidden {
    animation: make_hidden_move_left_from_center 0.5s ease-out 1 both;
  }
}
