<button type="button" class="vm-burger vm-button-focus" (click)="onBurger($event)">
  <div class="vm-burger-line-top">
    <div class="vm-burger-left-part" [style.background]="color()"></div>
    <div class="vm-burger-right-part" [style.background]="color()"></div>
  </div>
  <div class="vm-burger-line-center">
    <div class="vm-burger-left-part" [style.background]="color()"></div>
    <div class="vm-burger-right-part" [style.background]="color()"></div>
  </div>
  <div class="vm-burger-line-bottom">
    <div class="vm-burger-left-part" [style.background]="color()"></div>
    <div class="vm-burger-right-part" [style.background]="color()"></div>
  </div>
</button>
