<div class = "navbar">
    <button type = "button" class = "btn-menu" (click) = "onClick()"></button>
    <ul [style.flex-direction] = "isVisible_navMenu ? 'column' : 'row'"
        [style.width] = "isVisible_navMenu ? '100%' : 'auto'"
        [style.display] = "isWindowBig ? 'flex' : isVisible_navMenu ? 'flex' : 'none'">
      <li><a href="#">Sign up</a><hr></li>
      <li><a href="#">Sign in</a><hr></li>
      <li><a href="#">About game</a><hr></li>
    </ul>
    <div class = "gameLogo"></div>
</div>
