@import 'colors.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'images.scss';
@import 'fonts.scss';
@import 'animations.scss';

.navbar {
  display: block;

  hr {
    @include media-property(display, block, block, none, none);
  }

  .nav-menu {
    @include media-property(display, block, block, none, none);
    @include media-property(margin, 10px 10px 0 0, 10px 20px 0 0, 0 20px, 0 30px);


  }

  .wrapper {
    @include media-property(justify-content, space-between, space-between, start, start);
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;

    .btn-menu {
      @include media-property(margin, 0 10px, 0 20px, 0 20px, 0 30px);
      @include media-property(display, flex, flex, none, none);
      width: $img-logo-width;
      height: $img-logo-height;
      border-radius: 5px;
      box-shadow: $panel-shadow;
      background-image: $img-logo;
      transition: 1s;
      border: solid transparent 0;
      cursor: pointer;
    }

    .btn-menu:hover {
      transform: rotateZ(90deg);
    }

    .btn-menu:active {
      transition: 0s;
      box-shadow: $click-shadow;
    }

    .gameLogo {
      @include media-property(margin, 0 10px, 0 20px, 0 20px, 0 30px);
      background-color: $dark_grey;
      background-image: $img-gameLogo;
      width: $img-gameLogo-width;
      height: $img-gameLogo-height;
      border-radius: 5px;
      box-shadow: $panel-shadow;
    }

    .nav-menu {
      @include media-property(display, none, none, block, block);
    }
  }
}
