<div class="navbar panel">
  <div class="wrapper">
    <button type="button" class="btn-menu" (click)="onClick()" [appDropMenu] = menu></button>
    <div class="gameLogo"></div>
    <app-drop-menu class="nav-menu"></app-drop-menu>
<!--    <ng-container *ngTemplateOutlet="menu"></ng-container>-->
  </div>
<!--  <ng-container *ngIf="isVisibleMenu">-->
    <app-drop-menu #menu class="nav-menu"></app-drop-menu>
<!--    <ng-container *ngTemplateOutlet="menu"></ng-container>-->
<!--  </ng-container>-->
</div>

<!--<ng-template #menu>-->

<!--</ng-template>-->
