<div class="tank-selection-wrapper">
  <h2>Customize panzer</h2>
  <div class="tank-view"
       [style.width]="viewWidth + 'px'"
       [style.height]="viewHeight + 'px'"
       (mousemove)="onTarget($event)"
       (mouseout)="targetAngle = 0">
    <img *ngIf="selectedTankBody" alt="" [src]="selectedTankBody">
    <img *ngIf="selectedTankHead"
         alt=""
         [src]="selectedTankHead"
         [style]="{'transform': 'rotate(' + targetAngle + 'deg)'}">
  </div>
  <div class="selection-wrapper">
    <small>Head</small>
    <div class="selection">
      <ng-scrollbar class="scrollbar"
                    [track]="'horizontal'"
                    [thumbClass]="'thumb'"
                    [trackClass]="'track'">
        <div class="selection-content">
          <div *ngFor="let head of tankHeads; let i = index">
            <img *ngIf="head; else requiredImg"
                 alt="tankHead"
                 [ngClass]="{'selected' : checkHeadSelection(i)}"
                 [src]="head"
                 (click)="onHead(i)">
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
  <div class="selection-wrapper">
    <small>Body</small>
    <div class="selection">
      <ng-scrollbar class="scrollbar"
                    [track]="'horizontal'"
                    [viewClass]="'view'"
                    [thumbClass]="'thumb'"
                    [trackClass]="'track'">
        <div class="selection-content">
          <div *ngFor="let body of tankBodies; let i = index">
            <img *ngIf="body; else requiredImg"
                 alt="tankBody"
                 [ngClass]="{'selected' : checkBodySelection(i)}"
                 [src]="body"
                 (click)="onBody(i)">
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>

<ng-template #requiredImg>
  <div class="required-img"></div>
</ng-template>
