.scrollbar {
  position: absolute !important;
}
.track {
  display: flex !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  padding: 0 !important;
}
.thumb {
  position: relative !important;
  margin: 0 !important;
}
