<div class="title-page-header-wrapper">
  <vmc-burger [size]="'26px'"
              [weight]="'4px'"
              [color]="'#ffffff'"
              [isOpen]="headerMenuTrigger$.value"
              (isOpenEvent)="onMenu($event)">
  </vmc-burger>
  <div class="left-menu">
    <div class="gameLogo"></div>
    <p>Game</p>
    <p>Forum</p>
  </div>
  <div *ngIf="!headerMenuTrigger$.value" class="right-menu">
    <p (click)="onAuthMenu()">Sign In</p>
    <div class="vertical-slash"></div>
    <div class="languages">
      <p>EN</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <!--      <select name="language" [(ngModel)]='language' (ngModelChange)="onSelect($event)">-->
    <!--        <option *ngFor="let language of languages" [ngValue]="language.value">{{language.label}}</option>-->
    <!--      </select>-->
  </div>
  <div class="stub" *ngIf="headerMenuTrigger$.value === true"></div>
</div>

