<div class="title-page-header-wrapper">
  <i class="fa-solid fa-bars drop-menu" (click)="onMenu()"></i>
  <div class="left-menu">
    <div class="gameLogo"></div>
    <p>Game</p>
    <p>Forum</p>
  </div>
  <div class="right-menu">
    <p>Sign In</p>
    <div class="vertical-slash"></div>
    <div class="languages">
      <p>EN</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <!--      <select name="language" [(ngModel)]='language' (ngModelChange)="onSelect($event)">-->
    <!--        <option *ngFor="let language of languages" [ngValue]="language.value">{{language.label}}</option>-->
    <!--      </select>-->
  </div>
</div>


<vmc-drop-panel #navMenu
                [vmdDropPanel]="navMenu"
                [trigger]="headerMenuTrigger$ | async"
                [hasBackdrop]="true"
                [staticBackdrop]="true"
                [animDaley]="500"
                (triggerEvent)="triggerHandler($event, headerMenuTrigger$)">
  <app-header-menu [ngClass]="['title-page-header-menu',
                               (headerMenuTrigger$ | async) ? 'visible' : 'hidden']">
  </app-header-menu>
</vmc-drop-panel>
