@use 'colors';
@use 'mixins';
@use 'variables';
@use 'images';
@use 'animations';
@use 'html-elements/html-elements';
@use 'classes/anim';

.title-page-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: variables.$header-height;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: variables.$header-z-index;
  background-color: colors.$black;
  @include mixins.media-property(H, padding, 0 15px, 0 60px, 0 120px);

  .menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  p {
    cursor: pointer;
    color: colors.$white;
    @extend .border-golden-anim !optional;
  }

  vmc-burger {
    width: 60px;
    @include mixins.media-property(H, display, block, block, none);
  }

  .left-menu {
    @extend .menu;

    .gameLogo {
      display: flex;
      width: 50px;
      height: images.$img-gameLogo-height;
      border-radius: 5px;
      background-color: colors.$black;
      background-image: images.$img-gameLogo;
      background-position: center;
    }

    p {
      @include mixins.media-property(H, display, none, none, inline);
    }
  }

  .right-menu {
    @extend .menu;
    @include mixins.media-property(H, width, 60px, 60px, auto);

    .vertical-slash {
      width: 2px;
      height: 50px;
      border-radius: 2px;
      background: colors.$golden;
      @include mixins.media-property(H, display, none, none, block);
    }

    .languages {
      align-items: center;
      column-gap: 10px;
      cursor: pointer;
      @include mixins.media-property(H, display, none, none, flex);

      p:hover {
        animation: none;
      }

      i {
        font-size: 1.4rem;
        width: 15px;
        color: colors.$golden;
      }

      &:active i {
        font-size: 1.3rem;
      }
    }
  }
  .stub {
    @include mixins.media-property(H, width, 60px, 60px, auto);
  }
}

