<div class="title-page-header-wrapper">
  <i class="fa-solid fa-bars" (click)="onMenu()"></i>
<!--  <button type="button"-->
<!--          class="btn-menu"-->
<!--          [vmdDropPanel]=navMenu-->
<!--          [staticBackdrop]="false">-->
<!--  </button>-->
  <div class="left-menu">
    <div class="gameLogo"></div>
    <p>Game</p>
    <p>Forum</p>
  </div>
  <div class="right-menu">
    <p>Sign In</p>
    <div class="vertical-slash"></div>
    <div class="languages">
      <p>EN</p>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <!--      <select name="language" [(ngModel)]='language' (ngModelChange)="onSelect($event)">-->
    <!--        <option *ngFor="let language of languages" [ngValue]="language.value">{{language.label}}</option>-->
    <!--      </select>-->
  </div>

  <!--  <div class="menu-wrapper">-->
  <!--    <ng-container *ngTemplateOutlet="menuContent"></ng-container>-->
  <!--  </div>-->
  <!--  <div class="language">-->
  <!--    <img src="../../../../../assets/images/usa-icon.svg" alt="lang" class="language-icon">-->
  <!--  </div>-->


</div>


<vmc-drop-panel #navMenu
                [vmdDropPanel]="navMenu"
                [trigger]="headerMenuTrigger$ | async"
                [hasBackdrop]="true"
                [staticBackdrop]="true"
                [animDaley]="500"
                (triggerEvent)="triggerHandler($event, headerMenuTrigger$)">
  <app-header-menu [ngClass]="['title-page-header-menu',
                               (headerMenuTrigger$ | async) ? 'visible' : 'hidden']">
  </app-header-menu>
</vmc-drop-panel>

<!--<ng-template #menuContent>-->
<!--  <p (click)="onMenuItem()">Cabinet</p>-->
<!--  <hr>-->
<!--  <p>About</p>-->
<!--  <hr>-->
<!--</ng-template>-->
