<app-header></app-header>
<div class="home-wrapper">
  <ng-scrollbar class="scrollbar"
                [viewClass]="'view'"
                [thumbClass]="'thumb'"
                [trackClass]="'track'">
    <div class="title-wrapper">
      <img class="title-img" src="../../assets/images/title-img.png" alt="#">
      <div class="title">
        <h1>Join to the most EPIC battle's in the WORLD</h1>
        <small>2674 a.e. resources on Earth</small>
      </div>
    </div>
    <div class="demo-settings-wrapper">
      <div class="settings">
        <app-tank-selection></app-tank-selection>
        <app-position-selection></app-position-selection>
      </div>
      <button class="demo-btn" (click)="onDemo()">PLAY DEMO</button>
      <p>or <a (click)="onAuthMenu()">Sign In</a> and unlock more features</p>
    </div>
    <hr>
    <app-profile-cards></app-profile-cards>
    <app-home-gallery></app-home-gallery>
<!--    <button (click)="topFunction()" id="btnToTop"><i class="fa-solid fa-circle-arrow-up"></i></button>-->
    <app-footer></app-footer>
  </ng-scrollbar>
</div>
<app-header-menu-panel></app-header-menu-panel>
<app-auth-menu-panel></app-auth-menu-panel>

<!--<app-auth-menu #authMenu-->
<!--               [dropModal]="authMenu"-->
<!--               [trigger]="authMenuTrigger$ | async"-->
<!--               (triggerEvent)="authMenuTriggerHandler($event)">-->
<!--</app-auth-menu>-->
<!--<app-sign-up #signUp-->
<!--             [dropModal]="signUp"-->
<!--             [trigger]="signUpTrigger$ | async"-->
<!--             (triggerEvent)="signUpTriggerHandler($event)">-->
<!--</app-sign-up>-->
<!--<app-sign-in #signIn-->
<!--             [dropModal]="signIn"-->
<!--             [trigger]="signInTrigger$ | async"-->
<!--             (triggerEvent)="signInTriggerHandler($event)">-->
<!--</app-sign-in>-->
<!--<app-secret-code #secretCode-->
<!--                 [dropModal]="secretCode"-->
<!--                 [trigger]="codeTrigger$ | async"-->
<!--                 (triggerEvent)="codeTriggerHandler($event)">-->
<!--</app-secret-code>-->

<!-- <ng-template #galleryFullScreen>
  <app-full-screen-gallery
    (eventFullScreen)="galleryMode = $event"
    [initialId]="galleryMode">
  </app-full-screen-gallery>
</ng-template> -->
