@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';
@import 'src/assets/styles/animations';
@import 'src/assets/styles/images';
@import 'src/assets/styles/variables';


.home-wrapper {
  margin-top: $header-height;
  height: calc(100% - #{$header-height});
  overflow: hidden;

  .title-wrapper {
    @include media-property(H, height, 300px, 300px, 500px);
    width: 100%;
    position: relative;

    .title-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }

    .title {
      @include media-property(H, padding,
        0 30px + $scrollbar-size 0 30px,
        0 80px + $scrollbar-size 0 80px,
        0 150px + $scrollbar-size 0 150px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      h1 {
        color: $golden;
      }

      small {
        color: $white;
      }
    }
  }

  .demo-settings-wrapper {
    @include media-property(H, padding,
      15px 5px + $scrollbar-size 15px 5px,
      30px 40px + $scrollbar-size 30px 40px,
      45px 80px + $scrollbar-size 45px 80px);
    @include media-property(H, margin-bottom, 90px, 105px, 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    background: $black;
    .settings {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 20px;
      row-gap: 15px;
      width: 100%;
      background-color: $black;

      app-tank-selection {
        flex-grow: 1;
      }

      app-position-selection {
        flex-grow: 1;
      }
    }

    .demo-btn {
      @include media-property(H, width, 270px, 380px);
      height: 60px;
      font-family: RopaSans-Regular, Raleway-Thin, sans-serif;
      font-size: 2rem;
      color: $white;
      background-color: $golden;

      &:active {
        font-size: 1.9rem;
      }
    }
    p {
      @include media-property(H, margin-top, 0, 25px);
      @include media-property(H, width, 150px, 300px);
      display: inline-block;
      text-align: center;
      line-height: 1.4rem;
      margin-top: 25px;
      color: $white;
    }
    a {
      color: $golden;
    }
  }

  .temp {
    width: 100%;
    height: 1000px;
    background: $black;
  }


  //.play {
  //  @include media-property(H, margin, 0 10px, 0 20px, 0 30px, 0 40px);
  //  @include media-property(H, width, 90%, 400px, 400px, 400px);
  //  padding: 20px 40px;
  //}
  //
  //.demo-settings-title {
  //  @include media-property(H, padding, 30px 10px, 30px 20px, 30px 30px, 30px 40px);
  //  @include media-property(H, flex-wrap, wrap, wrap, nowrap, nowrap);
  //  @include media-property(H, flex-direction, column, column, row, row);
  //  justify-content: start;
  //
  //  h2 {
  //    @include media-property(H, margin, 40px 10px 40px 0, 40px 20px 40px 0, 40px 30px 40px 0, 40px 40px 40px 0);
  //    color: $red;
  //    margin: 40px 0 40px 0;
  //    flex-shrink: 0;
  //  }
  //
  //  .p-wrapper {
  //    display: flex;
  //    justify-content: center;
  //    width: 100%;
  //  }
  //}
  //
  //.pos-selection-wrapper {
  //  margin-bottom: 50px;
  //
  //  .pos-selection {
  //    display: flex;
  //    width: 100%;
  //    background-color: $black;
  //    flex-direction: column;
  //  }
  //}

  //}
}
