@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';
@import 'src/assets/styles/animations';
@import 'src/assets/styles/images';
@import 'src/assets/styles/variables';


.home-wrapper {
  margin-top: $header-height;
  height: calc(100% - #{$header-height});
  overflow: hidden;

  .title-wrapper {
    @include media-property(H, height, 300px, 300px, 500px);
    width: 100%;
    position: relative;

    .title-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }

    .title {
      @include media-property(H, padding,
        0 30px 0 30px,
        0 80px 0 80px,
        0 150px 0 150px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      h1 {
        color: $golden;
      }

      small {
        color: $white;
      }
    }
  }

  .demo-settings-wrapper {
    @include media-property(H, padding,
      15px 5px 15px 5px,
      30px 40px 30px 40px,
      45px 80px 45px 80px);
    @include media-property(H, margin-bottom, 90px, 105px, 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    background: $black;

    .settings {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 20px;
      row-gap: 15px;
      width: 100%;
      background-color: $black;

      app-tank-selection, app-position-selection {
        flex-grow: 1;
      }
    }

    .demo-btn {
      @include media-property(H, width, 270px, 380px);
      height: 60px;
      font-family: RopaSans-Regular, Raleway-Thin, sans-serif;
      font-size: 2rem;
      color: $white;
      background-color: $golden;

      &:active {
        font-size: 1.9rem;
      }
    }
    p {
      @include media-property(H, margin-top, 0, 25px);
      @include media-property(H, width, 150px, 300px);
      display: inline-block;
      text-align: center;
      line-height: 1.4rem;
      margin-top: 25px;
      color: $white;
    }

    a {
      color: $golden;
    }
  }

  #btnToTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }
}
