<div *ngIf="!galleryMode; else galleryFullScreen" class="home-wrapper">
  <app-navbar></app-navbar>
  <img src="../../assets/images/bg-tanks.png" alt="#">
  <div class="row title">
   <h1>EXAMPLE</h1>
    <p>
      Hello!
      If you are new and have not yet tasted victory on a real battlefield -
      try the mini version of the game. Or register immediately and
      get access to the full version of the game and the opportunity to play with friends.
      We hope you enjoy it and you stay with us!
    </p>
  </div>
  <!-- <app-slider (eventFullScreen) = "galleryMode = $event"></app-slider> -->
  <div class="row">
    <!-- <a style="--clr:#f03;--1:0;" (click)="onDemo()"><span>PLAY DEMO</span></a> -->
   <button class="btn-start play" (click)="onDemo()"><span>PLAY DEMO</span></button>
  </div>
  <div class="row">
    <small>or play completely after registration</small>
  </div>
  <div class="row sign-in-wrapper">
    <div class="sign-in-facebook"></div>
    <div class="sign-in-google"></div>
  </div>
 <div class="row settings-title">-->
   <div class="p-wrapper">
     <p>You can correct some settings of the game for your comfortable playing!</p>
   </div>
  </div>
  <div class="row pos-selection-wrapper">
    <div class="pos-selection">
      <app-settings></app-settings>
    </div>
  </div>
  <app-slider (eventFullScreen) = "galleryMode = $event"></app-slider>
</div>

<ng-template #galleryFullScreen>
  <app-full-screen-gallery
    (eventFullScreen) = "galleryMode = $event"
    [initialId]="galleryMode">

  </app-full-screen-gallery>
</ng-template>
