<app-navbar></app-navbar>
<!--<div class="page-wrapper">-->
  <img src="../../assets/images/bg-tanks.png" alt="#">
  <div class="row title">
    <h1>WELCOME!</h1>
    <p>
      Hello!
      If you are new and have not yet tasted victory on a real battlefield -
      try the mini version of the game. Or register immediately and
      get access to the full version of the game and the opportunity to play with friends.
      We hope you enjoy it and you stay with us!
    </p>
  </div>
  <app-slider></app-slider>
  <div class="row settings-title">
    <h2>SETTINGS:</h2>
    <div class="p-wrapper">
      <p>You can correct some settings of the game for your comfortable playing!</p>
    </div>
  </div>
  <div class="row pos-selection-wrapper">
    <div class="pos-selection-title">
      <strong>Select your position</strong>
    </div>
    <div class="pos-selection">

    </div>
  </div>
<!--  -->
<!--  <div class="panel">-->

<!--    <div class="hr-wrapper">-->
<!--      <hr>-->
<!--    </div>-->
<!--    <button type="button" class="btn testGame-btn" (click)="onClick()">TEST GAME</button>-->
<!--  </div>-->
<!--  <div class="row home-panel">-->
<!--    <app-settings class="panel" id="left_panel"></app-settings>-->
<!--  </div>-->
<!--</div>-->
