<div class="wrapper">
  <div class="game-settings">
    <tnm-tank-settings (tankSettings)="onTankSettings($event)"></tnm-tank-settings>
    <tnm-position-settings (positionSettings)="onPositionSettings($event)"></tnm-position-settings>
  </div>
  <button mat-flat-button type="button" class="mat-submit-btn" (click)="onDemo()">Play Demo</button>
  <small class="log-in-row">
    or
    <button mat-button type="button" class="mat-text-btn" (click)="signInClick.emit()">Log In</button>
    and unlock more features
  </small>
</div>
