@use 'mixins' as mixins;
@use 'variables' as variables;

:host {
  .wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--mat-sys-primary);
    border-radius: 20px;
    padding: 15px;

    .title {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 28px;
      color: var(--mat-sys-primary);
      margin-bottom: 20px;
    }

    .war-room-content {
      display: grid;
      grid-row-gap: 40px;
      @include mixins.vm-media(
          horizontal,
            (grid-template-columns, (1fr, 1fr, 1fr, repeat(2, 1fr))),
            (grid-template-rows, (repeat(6, 1fr), repeat(6, 1fr), repeat(6, 1fr), repeat(3, 1fr))),
            (grid-row-gap, (20px, 20px, 20px, 40px)),
      );

      .war-room-content-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include mixins.vm-media(horizontal, (height, (230px, 275px)));

        .sub-title {
          font-size: 20px;
          color: var(--mat-sys-primary);
          margin-bottom: 20px;
          @include mixins.vm-media(horizontal, (display, (none, none, none, block)));
        }

        &.simple-title {
          .sub-title {
            margin-bottom: 3px;
          }
        }

        &.without-sub-title {
          @include mixins.vm-media(horizontal, (padding-top, (0, 0, 0, 45px)));
        }
      }
    }

    .statistics-wrapper {
      text-align: center;

      .empty-statistics {
        display: inline-block;
        margin: 30px 0;
        font-size: 18px;
        color: var(--mat-sys-outline);
      }
    }
  }
}
