<div class="wrapper">

  <h2 class="title">Your War Room</h2>

  <section class="war-room-header">
    <tnm-war-room-header [player]="player()" (savePlayerName)="onSavePlayerName($event)"></tnm-war-room-header>
  </section>

  <section class="war-room-content">
    @if (chosenTank() && player()) {
      <div class="war-room-content-item">
        <h3 class="sub-title">Tanks:</h3>
        <tnm-tank-list
          [game]="game()"
          [tanks]="tanks()"
          (buyTank)="onBuyTank($event)"
          (selectTank)="onSelectTank($event)">
        </tnm-tank-list>
      </div>

      <div class="war-room-content-item without-sub-title">
        <tnm-tank-view
          [tankName]="chosenTank()?.name"
          [selectedTankBody]="chosenTank()?.hull"
          [selectedTankHead]="chosenTank()?.turret"
          (tankNameChange)="onTankNameChange($event)">
        </tnm-tank-view>
      </div>

      <div class="war-room-content-item">
        <h3 class="sub-title">Inventory:</h3>
        <tnm-player-inventory [inventory]="inventory()" (saveInventory)="onSaveInventory($event)">
        </tnm-player-inventory>
      </div>

      <div class="war-room-content-item without-sub-title">
        <tnm-tank-inventory [tank]="chosenTank()" (saveTank)="onSaveTank($event)"></tnm-tank-inventory>
      </div>

      <div class="war-room-content-item simple-title">
        <h3 class="sub-title">Market:</h3>
        <tnm-tank-shops [player]="player()" (savePlayer)="onSavePlayer($event)"></tnm-tank-shops>
      </div>

      <div class="war-room-content-item without-sub-title">
        <tnm-tank-modernization [tank]="chosenTank()"></tnm-tank-modernization>
      </div>
    }
  </section>

  <h3 class="sub-title">Battles:</h3>

  <section class="statistics-wrapper">
    @if (battles().length) {
      <tnm-battles-table [battles]="battles()"></tnm-battles-table>
    } @else {
      <strong class="empty-statistics">No battle stats yet — join a game to get started!</strong>
    }
  </section>
</div>
