@use 'mixins' as mixins;

:host {
  .wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--mat-sys-primary);
    border-radius: 20px;
    padding: 15px;

    .title {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 28px;
      color: var(--mat-sys-primary);
      margin-bottom: 20px;
    }

    .sub-title {
      font-size: 20px;
      color: var(--mat-sys-primary);
      margin-left: 20px;
    }

    .statistics-header {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      @include mixins.vm-media(horizontal, (flex-direction, (column, column, column, row)));

      .user-name {
        flex-shrink: 0;
        @include mixins.vm-media(horizontal, (width, (280px, 320px, 350px, 280px)));
      }

      .user-statistics {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 0 20px;
        border-bottom: 1px solid var(--mat-sys-outline);
        @include mixins.vm-media(
            horizontal,
              (flex-direction, (column, column, column, row)),
              (margin-bottom, (0, 0, 0, 15px)),
              (padding-bottom, (20px, 20px, 20px, 0)),
              (height, (auto, auto, auto, 56px)),
              (gap, (5px, 5px, 5px, 15px)),
        );

        .user-statistics-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          @include mixins.vm-media(horizontal, (min-width, (200px, 200px, 200px, auto)));

          .item-name {
            color: var(--mat-sys-primary);
            font-weight: 400;
          }
        }

        hr {
          height: 100%;
          border-color: var(--mat-sys-outline);
          @include mixins.vm-media(horizontal, (display, (none, none, none, block)));
        }
      }
    }

    .statistics-wrapper {
      text-align: center;

      .empty-statistics {
        display: inline-block;
        margin: 30px 0;
        font-size: 18px;
        color: var(--mat-sys-outline);
      }
    }
  }
}
