<div class="tnm-text-input">
  <div
    class="background static-visible"
    [style.height]="matInputHeight | inputHeight"
    [style.background]="borderColor()">
  </div>
  <div
    [style.height]="matInputHeight | inputHeight"
    [ngClass]="{'background': true,
                'visible focused': focused()
               }">
  </div>
  <div
    [style.height]="matInputHeight | inputHeight"
    [ngClass]="{'background': true,
                'visible invalid': invalid()
               }">
  </div>
  <mat-form-field class="form-field">
    @if (label()) {
      <mat-label>{{ label() }}</mat-label>
    }
    <input
      matInput
      [style.text-align]="centered() ? 'center' : 'left'"
      [placeholder]="placeholder()"
      [type]="innerInputType()"
      [formControl]="formControl"
      (input)="onInput($event)"
      (focusin)="onFocusIn()"
      (focusout)="onFocusOut()"
      #matInputEl/>
    @if (inputType() === types.Password) {
      <mat-icon
        matSuffix
        class="icon password-icon"
        (click)="onPasswordTypeChange()">
        {{ innerInputType() === types.Password ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    }
    @if (inputType() !== types.Password && pending()) {
      <tnm-loader matSuffix class="icon loader"></tnm-loader>
    }
  </mat-form-field>
  @if (!disableErrors()) {
    <div class="errors">
      <ng-content></ng-content>
    </div>
  }
</div>
