
<div class = "wrapper">
    <app-navbar></app-navbar>
    <div class = "row">
      <div class = "panel">
        <span class = "smile"></span>
          <h1 class="col-7">
              WELCOME!
          </h1>
        <span class = "smile" id="left"></span>
        <p>
          Hello! This is the tanks page!
          If you are new and have not yet tasted victory on a real battlefield -
          try the mini version of the game by clicking on the button below. Or register immediately and
          get access to the full version of the game and the opportunity to play with friends.
          We hope you enjoy it and you stay with us!
        </p>
        <hr>
        <button type="button" class="testGame-btn" id="run_testGame" (click) = "onClick()">TEST GAME</button>
      </div>
      <div class = "panel" id="right">
        <h1>GALLERY</h1>
        <hr>
      </div>
    </div>
</div>
