@use 'mixins' as mixins;

:host {
  .scrollbar-v {
    max-height: 400px;
  }

  .battles-table {
    width: 100%;
    background: var(--mat-sys-background);

    .detail-row {
      height: 0;
    }

    .inner-head {
      display: none;
    }

    .inner-column {
      border: none;
    }

    .name-column {
      text-align: left !important;
      @include mixins.vm-media(
          horizontal,
            (min-width, (70px !important, 100px !important, 120px !important, 130px !important, 200 !important)),
            (max-width, (70px !important, 100px !important, 120px !important, 130px !important, 200 !important)),
      )
    }

    .hidden-column {
      display: none;
    }

    .column {
      text-align: center;
      @include mixins.vm-media(
          horizontal,
            (padding, (0 3px !important, 0 5px !important)),
            (min-width, (40px, 50px, 60px, 70px)),
            (max-width, (40px, 50px, 60px, 70px)),
      );

      &:has( > .date-value), &:has( > .inner-date-value) {
        min-width: 180px;
      }

      .index {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: var(--mat-sys-on-primary);
        background: var(--mat-sys-primary);
      }

      .tank-icon {
        position: relative;
        margin: auto;
        width: 30px;
        height: 30px;

        & > * {
          position: absolute;
          width: 30px;
          height: 30px;
        }
      }

      .value {
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: capitalize;
      }

      .inner-date-value {
        opacity: 0;
      }
    }

    .column-head {
      color: var(--mat-sys-primary);
    }

    .stub {
      margin: auto;
      width: 25px;
      height: 25px;
    }

    .btn-column {
      text-align: center;

      .table-btn {
        border-radius: 50%;
        margin-top: 5px;
        width: 25px;
        height: 25px;
        background: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
      }

      .table-toggle-btn {
        transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .table-toggle-btn-expanded {
        transform: rotate(180deg);
      }
    }
  }

  .table-element-row {
    cursor: pointer;
  }

  .table-element-row:not(.table-expanded-row):hover {
    background: var(--mat-sys-primary-container);
  }

  .table-element-row:not(.table-expanded-row):active {
    background: var(--mat-sys-primary-container);
  }

  .table-element-row td {
    border-bottom-width: 0;
  }

  .battle-details-wrapper {
    overflow: hidden;
    height: 0;
    transition: height 300ms;
  }
}
