<div class="footer-wrapper">
  <div class="content">
    <div class="left-side-content">
      <div class="column" *ngFor="let column of columns; let i = index">
        <p class="topic">{{column.topic}}</p>
        <div class="footer-link" *ngFor="let link of column.links;"><a href="{{link.url}}">{{link.title}}</a></div>
      </div>
    </div>
    <div class="right-side-content">
      <p class="topic">Subscribe</p>
      <form action="#">
        <input type="text" placeholder="Your Email">
        <button class="send-btn" type="submit"><i class="fa-solid fa-arrow-right"></i></button>
      </form>
      <div class="media-icons">
        <a href="#"><i class="fa-brands fa-twitch"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
