<div class="footer">
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">About us</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur culpa cupiditate exercitationem
          id molestias nam perferendis ratione sit veritatis!</p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="#"><i class="fas fa-phone-volume"></i>+380 97111 2345</a>
        </div>
        <div class="email">
          <a href="#"><i class="fas fa-envelope"></i>panzers@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Our Services</div>
      <div><a href="#">Link1</a></div>
      <div><a href="#">Link2</a></div>
      <div><a href="#">Link3</a></div>
      <div><a href="#">Link4</a></div>
      <div><a href="#">Link5</a></div>
      <div><a href="#">Link6</a></div>
    </div>
    <div class="right box">
      <div class="topic">Subscribe us</div>
      <form action="#">
        <input type="text" placeholder="Enter email address">
        <input type="submit" name="" value="Send">
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>
      <div class="bottom">
        <p>Copyright © {{currentYear}} <a href="#">Panzer`s</a> All rights reserved</p>
      </div>
    </div>
  </div>
</div>
