@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins';

.footer-wrapper {
  @include media-property(H, padding,
    40px 25px,
    50px 50px,
    55px 65px,
    64px 100px
  );
  // box-sizing: border-box;
  width: 100%;
  //bottom: 0;
  //left: 0;
  background: $black;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    p, a {
      color: $white;
      border-bottom: none;
      transition: all 0.3s ease;
    }

    a:hover {
      color: $golden;
    }

    .left-side-content {
      @include media-property(H, width, 100%, 100%, 350px);
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      padding-bottom: 15px;

      .column {
        .footer-link {
          margin-bottom: 5px;
        }
      }
    }

    .topic {
      font-size: 22px;
      font-weight: 500;
      color: $golden;
      margin-bottom: 16px;
    }

    .right-side-content {
       @include media-property(H, margin, 10px 0, 10px 0, 0, 0);
      form {
        display: flex;
        height: 40px;
        input[type="text"] {
          padding: 10px 15px;
          width: 160px;
          border: none;
          outline: none;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }

        button[type="submit"] {
          height: 100%;
          padding: 0;
          width: 60px;
          background-color: $golden;
          color: #fff;
          cursor: pointer;
          border: 0;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }

    .media-icons a {
      font-size: 24px;
      display: inline-block;
      padding: 20px 15px 0 0;
    }
  }
}


