<div class="footer">
  <div class="content">
    <div class=" footer-container">
      <div class="column">
        <div class="topic">Game</div>
        <div class="footer-link"><a href="#">Features</a></div>
        <div class="footer-link"><a href="#">Rules</a></div>
        <div style="color: #1E1E1E;">.</div>
      </div>
      <div class="column">
        <div class="topic">About</div>
        <div class="footer-link"><a href="#">Development Team</a></div>
        <div class="footer-link"><a href="#">Term Of Use</a></div>
        <div class="footer-link"><a href="#">Privacy</a></div>
      </div>
      <div class="column">
        <div class="topic">Forum</div>
        <div class="footer-link"><a href="#">News</a></div>
        <div class="footer-link"><a href="#">Gallery</a></div>
        <div class="footer-link"><a href="#">Support</a></div>
      </div>
    </div>
    <div class="right box">
      <div class="topic">Subscribe</div>
      <form action="#">
        <input type="text" placeholder="Your Email">
        <button class="send-btn" type="submit"><i class="fa-solid fa-arrow-right"></i></button>
        <div class="media-icons">
          <a href="#"><i class="fa-brands fa-twitch"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </form>
    </div>
  </div>
</div>
