<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

<div class="profile-cards">
<div class="container">
<!--  <input type="radio" name="dot" id="one">-->
<!--  <input type="radio" name="dot" id="two">-->
  <div class="main-card">
    <div class="cards">
      <div class="card">
        <div class="content">
          <div class="img">
            <img src="https://scontent.fdnk3-1.fna.fbcdn.net/v/t39.30808-6/274461279_7832316746794335_5954400711433159411_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=XTILSE4dB6QAX9Z_snz&_nc_ht=scontent.fdnk3-1.fna&oh=00_AT8AZDcTfwBIdW4pRZfrGIBxlyEdAL0F456OGjoK7Cnbag&oe=629FD676" alt="">
          </div>
          <div class="details">
            <div class="name">Victor Monakhov</div>
            <div class="job">Web Developer</div>
          </div>
          <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="img">
             <img src="https://scontent.fdnk3-1.fna.fbcdn.net/v/t39.30808-6/284421182_5529586573741203_1769346526107408654_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=EtCj3B-m4nIAX98GZ64&_nc_ht=scontent.fdnk3-1.fna&oh=00_AT-by3OpxqAnqO4S74NmjFuX1TQqCmjGaELy94wBUheqkw&oe=629FEC74" alt="">
          </div>
          <div class="details">
            <div class="name">Oleksii Kot</div>
            <div class="job">Web Developer</div>
          </div>
          <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="img">
             <img src="https://scontent.fdnk3-1.fna.fbcdn.net/v/t39.30808-6/275606858_1579126599119556_7615252278444092112_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=O0zlIE2eaugAX-YutAE&_nc_ht=scontent.fdnk3-1.fna&oh=00_AT-REi-Z1jK2BnmptyJIf9ktDEUhNyMIJc94phblOosDoA&oe=629F679F" alt="">
          </div>
          <div class="details">
            <div class="name">Vlad Shyshkov</div>
            <div class="job">UI Designer</div>
          </div>
          <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="cards">
<!--      <div class="card">-->
<!--        <div class="content">-->
<!--          <div class="img">-->
<!--            &lt;!&ndash;-<img src="images/img4.jpg" alt="">-&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="details">-->
<!--            <div class="name">Test Test</div>-->
<!--            <div class="job">Test Test</div>-->
<!--          </div>-->
<!--          <div class="media-icons">-->
<!--            <a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--            <a href="#"><i class="fab fa-twitter"></i></a>-->
<!--            <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--            <a href="#"><i class="fab fa-youtube"></i></a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
<!--  <div class="button">-->
<!--    <label for="one" class=" active one"></label>-->
<!--    <label for="two" class="two"></label>-->
<!--  </div>-->
</div>
</div>
