<div class="team">
  <h2>Development Team</h2>
  <div class="profile-cards">
    <ng-scrollbar class="scroll-bar" [thumbClass]="'thumb'" [trackClass]="'track'" [track]="'horizontal'">
      <div class="cards">
        <div *ngFor="let developer of developers; let i = index">
          <div class="card" #card id="{{i}}">
<!--            <div class="content">-->
              <div class="avatar">
                <img
                  src="{{developer.img}}"
                  alt="">
              </div>
              <div class="details">
                <p class="name">{{developer.fullName}}</p>
                <p class="job">{{developer.job}}</p>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
<!--      </div>-->
    </ng-scrollbar>

  </div>
</div>



