<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

<!--<div class="team">-->
<!--<h2>Development Team</h2>-->
<!--<div class="profile-cards">-->
<!--  <div class="container">-->
<!--    <input type="radio" name="dot" id="one">-->
<!--    <input type="radio" name="dot" id="two">-->
<!--    <div class="main-card">-->
<!--      <div class="cards">-->
<!--        <div class="card">-->
<!--          <div class="content">-->
<!--            <div class="img">-->
<!--              <img-->
<!--                src="https://scontent.fdnk3-1.fna.fbcdn.net/v/t39.30808-6/275606858_1579126599119556_7615252278444092112_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=QqwxD7xh8BQAX-OUpNW&_nc_ht=scontent.fdnk3-1.fna&oh=00_AT9gH3RaXzXVBDLolkDTyr4BTCVCMFi8Je3qpy4A7tF5PA&oe=62C6F49F"-->
<!--                alt="">-->
<!--            </div>-->
<!--            <div class="details">-->
<!--              <div class="name">Vlad Shyshkov</div>-->
<!--              <div class="job">UX\UI Designer</div>-->
<!--            </div>-->
<!--            <div class="media-icons">-->
<!--              <a href="#"><i class="fa-brands fa-facebook"></i></a>-->
<!--              <a href="#"><i class="fa-brands fa-instagram"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="content">-->
<!--            <div class="img">-->
<!--              <img-->
<!--                src="https://scontent.fdnk3-1.fna.fbcdn.net/v/t39.30808-6/284421182_5529586573741203_1769346526107408654_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=WYQjI1n_StAAX9UlzI-&_nc_ht=scontent.fdnk3-1.fna&oh=00_AT9-bKhNb6t_lYlhM3aaFKPVD90UUo7NKe5tsPo3bLKiRw&oe=62C77974"-->
<!--                alt="">-->
<!--            </div>-->
<!--            <div class="details">-->
<!--              <div class="name">Oleksii Kot</div>-->
<!--              <div class="job">Developer</div>-->
<!--            </div>-->
<!--            <div class="media-icons">-->
<!--              <a href="#"><i class="fa-brands fa-facebook"></i></a>-->
<!--              <a href="#"><i class="fa-brands fa-instagram"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="content">-->
<!--            <div class="img">-->
<!--              <img-->
<!--                src="https://scontent.fdnk3-1.fna.fbcdn.net/v/t39.30808-6/274461279_7832316746794335_5954400711433159411_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=1gS0ZNIdYO0AX9AALFD&_nc_ht=scontent.fdnk3-1.fna&oh=00_AT9eqPCujpBosPZNaVJKKAYoMpSgCD5qFqkXzO5gPJbgCQ&oe=62C76376"-->
<!--                alt="">-->
<!--            </div>-->
<!--            <div class="details">-->
<!--              <div class="name">Victor Monakhov</div>-->
<!--              <div class="job">Developer</div>-->
<!--            </div>-->
<!--            <div class="media-icons">-->
<!--              <a href="#"><i class="fa-brands fa-facebook"></i></a>-->
<!--              <a href="#"><i class="fa-brands fa-instagram"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="content">-->
<!--            <div class="img">-->
<!--              <img-->
<!--                src="https://www1.pictures.zimbio.com/gi/Los+Angeles+Premiere+MSNBC+Films+Paper+Glue+6XiNlGass26l.jpg"-->
<!--                alt="">-->
<!--            </div>-->
<!--            <div class="details">-->
<!--              <div class="name">Ilonka Ownska</div>-->
<!--              <div class="job">Marketing</div>-->
<!--            </div>-->
<!--            <div class="media-icons">-->
<!--              <a href="#"><i class="fa-brands fa-facebook"></i></a>-->
<!--              <a href="#"><i class="fa-brands fa-instagram"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <div class="content">-->
<!--            <div class="img">-->
<!--              <img-->
<!--                src="https://www.amazingukraine.pro/wp-content/uploads/2021/04/avatar_8768_max.jpg"-->
<!--                alt="">-->
<!--            </div>-->
<!--            <div class="details">-->
<!--              <div class="name">Kelly Anderson</div>-->
<!--              <div class="job">QA Engineer</div>-->
<!--            </div>-->
<!--            <div class="media-icons">-->
<!--              <a href="#"><i class="fa-brands fa-facebook"></i></a>-->
<!--              <a href="#"><i class="fa-brands fa-instagram"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="cards">-->
<!--        <div class="card">-->
<!--          <div class="content">-->
<!--            <div class="img">-->
<!--              &lt;!&ndash;-<img src="images/img4.jpg" alt="">-&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="details">-->
<!--              <div class="name">Test Test</div>-->
<!--              <div class="job">Test Test</div>-->
<!--            </div>-->
<!--            <div class="media-icons">-->
<!--              <a href="#"><i class="fa-brands fa-facebook"></i></a>-->
<!--              <a href="#"><i class="fa-brands fa-instagram"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="button">-->
<!--      <label for="one" class=" active one"></label>-->
<!--      <label for="two" class="two"></label>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->

<div class="team">
<h2>Development Team</h2>
<div class="profile-cards">
  <div class="cards">
    <div *ngFor="let developer of developers; let i = index">
      <div class="card" #card id="{{i}}">
        <div class="content">
          <div class="img">
            <img
              src="{{developer.img}}"
              alt="">
          </div>
          <div class="details">
            <div class="name">{{developer.fullName}}</div>
            <div class="job">{{developer.job}}</div>
          </div>
          <div class="media-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



