<div [ngClass]="{ 'game-item-btn-wrapper': true, 'focused': focused() }">
  <div type="button" class="game-item-btn">
    <div [ngClass]="{
      'game-item': true,
      'blocked-item': blocked(),
      'priced-item': priced(),
      'rounded': rounded() }">
      <img
        fill
        alt="#"
        [ngClass]="{ 'available-icon': true, 'small-icon': smallIcon(), 'large-icon': largeIcon() }"
        [ngSrc]="iconSrc1()"
        [style.transform]="rotateValue()"/>
      @if (iconSrc2()) {
        <img fill class="available-icon" alt="#" [ngSrc]="iconSrc2()" [style.transform]="rotateValue()"/>
      }
      @if (iconSrc3()) {
        <img fill class="available-icon" alt="#" [ngSrc]="iconSrc3()"/>
      }
    </div>
  </div>
  @if (blocked()) {
    <div class="tag">
      <mat-icon class="blocked-icon">lock</mat-icon>
    </div>
  }
  @if (name()) {
    <div class="tag">
      <span class="name">{{ name() }}</span>
    </div>
  }
  @if (priced()) {
    <div class="tag">
      <span class="price">{{ price() }}</span>
      <mat-icon class="priced-icon" svgIcon="gold"></mat-icon>
    </div>
  }
  <button mat-button class="surface mat-text-btn" type="button" (click)="onClick.emit($event)"></button>
</div>
