@use 'mixins' as mixins;

:host {
  font-family: "Roboto Light", sans-serif;
  .wrapper {
    display: flex;
    justify-content: space-between;
    background: var(--mat-sys-background);
    gap: 20px;
    @include mixins.vm-media(
        horizontal,
          (padding, (40px, 50px, 55px 65px, 64px 100px)),
          (flex-direction, (column, row, row))
    );
    .left-content, .right-content {
      display: flex;
      flex-direction: column;
      flex: 50% 1 0;
      @include mixins.vm-media(horizontal, (align-items, (cstart, center)));

      .title {
        width: 100%;
        font-size: 18px;
        text-align: center;
        color: var(--mat-sys-primary);
        margin-bottom: 15px;
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & > * {
          font-size: 14px;
        }

        .left-item {
          position: relative;
          text-decoration: none;
          color: var(--mat-sys-on-background);
          @include mixins.hover-underline(1px, 2px, var(--mat-sys-primary));
        }
      }
    }
  }
}
