<div class="wrapper">
  <div class="left-content">
    <h2 class="title">VM-Soft</h2>
    <ul class="list">
      <li><a href="#" class="left-item">Tank Way</a></li>
      <li><a href="#" class="left-item">VM-Translate</a></li>
      <li><a href="#" class="left-item">Tanks-N-Maps</a></li>
    </ul>
  </div>
  <div class="right-content">
    <h2 class="title">Contacts</h2>
    <ul class="list">
      <li><a href="https://www.linkedin.com/in/viktor-monakhov-in/" class="left-item">LinkedIn</a></li>
      <li><a href="https://github.com/Victor-Monakhov" class="left-item">GitHub</a></li>
      <li>+380667006258</li>
      <li>{{'victormonakhov92@gmail.com'}}</li>
    </ul>
  </div>
</div>
