
.mat-text-btn {
  &.mat-mdc-button {
    height: auto;
    padding: 0;
  }

  .mat-mdc-button-persistent-ripple {
    display: none;
  }

  .mat-mdc-button-ripple {
    display: none;
  }
}

.mat-submit-btn {
  height: 56px !important;
  border-radius: 8px !important;
  font-size: 28px !important;

  &:not(&:disabled) {
    color: var(--mat-sys-background);

    .mdc-button__label {
      opacity: 0.8;
    }
  }
}

.mat-radio-demo-pos {
  .mdc-label {
    font-size: 24px;
  }
}
