@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";
@import "src/assets/styles/animations";
@import "themes.scss";
@import "colors.scss";

.static{
  @include media-property(display, none, none, flex, flex);
}
.drop{
  @include media-property(display, block, block, none, none);
  z-index: 5000;
  width: 40%;
  top: $header-height + 20px;
  position: fixed;
  margin: 0;
}
.menu-go-right{
  animation: menu_go_right 0.5s ease-out 1 both;
}
.menu-go-left{
  animation: menu_go_left 0.5s ease-out 1 both;
}

.nav-menu {
  hr {
    @include media-property(display, block, block, none, none);
  }

  p {
    @include media-property(margin, 0 10px 0 0, 0 20px 0 0, 0 20px 0 0, 0 30px 0 0);
    display: inline;
    font-family: WaitingfortheSunrise-Regular, sans-serif;
    font-weight: bold;
    text-align: start;
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;
  }

  p:hover {
    @include media-property(border-color, transparent, transparent, $brown, $brown);
    $animation: border3px-anim-blue 1500ms linear 0s infinite normal both;
    @include media-property(color, $blue, $blue, #fff, #fff);
    :host-context(.blue-theme) &{
      @include media-property(border-color, transparent, transparent, $brown, $brown);
      @include media-property(color, $blue, $blue, #fff, #fff);
      $animation: border3px-anim-blue 1500ms linear 0s infinite normal both;
      @include media-property(animation, none, none, $animation, $animation);
    }
    :host-context(.red-theme) &{
      @include media-property(border-color, transparent, transparent, $green, $green);
      @include media-property(color, $red, $red, #fff, #fff);
      $animation: border3px-anim-red 1500ms linear 0s infinite normal both;
      @include media-property(animation, none, none, $animation, $animation);
    }
    text-shadow: $text-shadow;
  }
}
