<ng-template>
  <div class="wrapper"
       [ngClass]="anim ? 'modal-go-left' : 'modal-go-hidden'">
    <div class="header">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="service-wrapper">
      <div (click)="onLoginWithFacebook()" class="sign-in-facebook"></div>
      <p>Login with Facebook</p>
    </div>
    <div class="service-wrapper">
      <div (click)="onLoginWithGoogle()" class="sign-in-google"></div>
      <p>Login with Google</p>
    </div>
    <div class="container">
      <p>Or use your email address</p>
    </div>
    <div class="btn-wrapper">
      <button class="btn">SIGN IN</button>
      <button class="btn">SIGN UP</button>
    </div>
  </div>
</ng-template>
