@import "../../../../../assets/styles/modals/loginModal";

.header {
  justify-content: flex-end;
}
.service-wrapper{
  @include media-property(width, 90%, 80%, 80%, 80%);
  display: flex;
  margin-top: 10px;
  padding: 5px;
  align-items: flex-end;
  border-radius: 50px;
  cursor: pointer;
  p{
    font-family: Raleway-Light, sans-serif;
  }
}
.service-wrapper:hover{
  box-shadow: 2px 2px 6px 0 $blue;
  transition: 0.7s;
}

.sign-in-google, .sign-in-facebook {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  border-radius: 50%;
  margin-right: 20px;
}
.sign-in-google{
  background-image: $img-google-icon;
}
.sign-in-facebook {
  background-image: $img-facebook-icon;
}


