<!--<ng-scrollbar class="scrollbar"-->
<!--              [viewClass]="'view'"-->
<!--              [thumbClass]="'thumb'"-->
<!--              [trackClass]="'track'">-->
  <div class="auth-menu-wrapper">
    <div class="title">
      <h3>PANZER</h3>
      <p>Create new account</p>
    </div>
    <form class="auth-form"
         [formGroup]="form">
      <div [ngClass]="{'form-item': true,
                     'invalid-input': form.get('nickname').invalid &&
                                      form.get('nickname').touched}">
        <input type="text"
               class="form-control"
               formControlName="nickname"
               placeholder="Nickname">
      </div>
      <div class="errors-wrapper">
        <small class="error-msg"
               [ngStyle]="{'visibility':
                        (form.get('nickname').invalid &&
                        form.get('nickname').touched) ||
                        responseMsg ? 'visible' : 'hidden'}">
          {{responseMsg ? responseMsg : 'nickname is not available'}}
        </small>
      </div>
      <div [ngClass]="{'form-item': true,
                     'invalid-input': form.get('email').invalid &&
                                      form.get('email').touched}">
        <input type="email"
               class="form-control"
               formControlName="email"
               placeholder="Email">
      </div>
      <div [ngClass]="{'form-item': true,
                       'invalid-input': form.get('password').invalid &&
                                        form.get('password').touched}">
        <div class="password-wrapper">
          <input class="form-control"
                 formControlName="password"
                 placeholder="Password"
                 [type]="isVisiblePassword ? 'text' : 'password'">
          <i *ngIf="!isVisiblePassword" class="fa-solid fa-eye" (click)="onVisiblePassword()"></i>
          <i *ngIf="isVisiblePassword" class="fa-solid fa-eye-slash" (click)="onVisiblePassword()"></i>
        </div>
      </div>
      <div class="errors-wrapper">
        <small [ngClass]="{'error-msg': !checkControlLength(form.get('password'))}">
          * characters range from 8 to 15
        </small>
        <small [ngClass]="{'error-msg': !checkControlNumber(form.get('password'))}">
          * at least one number
        </small>
        <small [ngClass]="{'error-msg': !checkControlUppercase(form.get('password'))}">
          * at least one uppercase letter
        </small>
        <small [ngClass]="{'error-msg': !checkControlLowercase(form.get('password'))}">
          * at least one lowercase letter
        </small>
      </div>
      <div [ngClass]="{'form-item': true,
                       'invalid-input': form.get('confirm').invalid &&
                                        form.get('confirm').touched}">
        <div class="password-wrapper">
          <input class="form-control"
                 formControlName="confirm"
                 placeholder="Repeat password"
                 [type]="isVisibleConfirm ? 'text' : 'password'">
          <i *ngIf="!isVisibleConfirm"
             class="fa-solid fa-eye"
             (click)="onVisibleConfirm()">
          </i>
          <i *ngIf="isVisibleConfirm"
             class="fa-solid fa-eye-slash"
             (click)="onVisibleConfirm()">
          </i>
        </div>
      </div>
      <div class="errors-wrapper">
        <small class="error-msg"
               [ngStyle]="{'visibility':
                        form.get('confirm').invalid &&
                        form.get('confirm').touched ? 'visible' : 'hidden'}">
          passwords are different
        </small>
        <hr>
      </div>
      <button class="demo-btn" (click)="onCreate()">Create</button>
    </form>
  </div>
<!--</ng-scrollbar>-->

