@import "mixins.scss";
@import "colors.scss";
@import "variables.scss";
@import "classes/anim.scss";

.auth-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 20px;
  padding: 25px 25px;
  background: $black;
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    h3 {
      color: $golden;
    }
    p {
      font-size: 1.4rem;
      color: $golden;
    }
  }
}
