@import "colors.scss";
@import "mixins.scss";

.title-header-menu-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $black;
  .header {
    @include media-property(H, padding, 25px 15px, 25px, 60px);
    @include media-property(H, width, calc(100% - 30px), calc(100% - 50px), calc(100% - 120px));
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    p{
      color: $white;
    }
    i, .cap{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      color: $white;
      font-size: 2rem;
    }
    i {
      cursor: pointer;
      &:active{
        font-size: 1.9rem;
      }
    }
  }
  .content {
    @include media-property(H, padding, 0 25px, 0, 70px);
    @include media-property(H, width, calc(100% - 50px), calc(100% - 140px));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    p{
      color: $white;
    }
    hr {
      border-color: $golden;
    }
    .top-menu{

    }
    .bottom-menu{
      display: flex;
      flex-direction: column;
      row-gap: 25px;
    }
  }
}
