<tnm-demo-settings-panel class="wrapper" title="Select your position">

  <vms-toggle-btn
    class="toggle-team"
    [value1]="eDemoTeams.Red"
    [value2]="eDemoTeams.Blue"
    [(ngModel)]="team"
    (ngModelChange)="onChanges()">
  </vms-toggle-btn>

  <mat-radio-group
    class="positions-wrapper"
    [(ngModel)]="position"
    (ngModelChange)="onChanges()">
    @for (pos of positions; track $index) {
      <mat-radio-button class="mat-radio-demo-pos" [value]="pos">{{ pos }}</mat-radio-button>
    }
  </mat-radio-group>

  <div class="position-view-wrapper">
    @if (team() === eDemoTeams.Red) {
      <img fill class="map" ngSrc="images/red-map-pos.png" alt="map">
    }
    @if (team() === eDemoTeams.Blue) {
      <img fill class="map" ngSrc="images/blue-map-pos.png" alt="map">
    }
    <div [ngClass]="['position-view', (team() === eDemoTeams.Red) ?
                    'red-pos' + position() :
                    'blue-pos' + position()]">
      @if (team() === eDemoTeams.Red) {
        <div  class="pos-view-content">
          <img fill class="flag-img" ngSrc="images/pos-red.png" alt="">
          <b class="flag-info">{{position()}}</b>
        </div>
      }
      @if (team() === eDemoTeams.Blue) {
        <div class="pos-view-content">
          <img fill class="flag-img" ngSrc="assets/images/pos-blue.png" alt="">
          <b class="flag-info">{{position()}}</b>
        </div>
      }
    </div>
  </div>

</tnm-demo-settings-panel>
