@use "material/theme";
@use "fonts";
@use "svg-icons";
@use "classes/scrollbar";
@use "html-elements/button";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100dvw;
  height: 100dvh;
  font-family: var(--mat-sys-body-medium-font), sans-serif;
  overflow: hidden;
}

small {
  font-family: "Roboto Light", sans-serif;
  font-size: 13px;
}
