<!--second version-->
<div class="wrapper">
  <div class="title">
    <h2 (click)="onVisible()">GALLERY</h2>
    <i *ngIf="!visible" (click)="onVisible()" class="fa-solid fa-angles-down"></i>
    <i *ngIf="visible" (click)="onVisible()" class="fa-solid fa-angles-up"></i>
  </div>
  <div #slider *ngIf="images.length"
       class="slider-content"
       (wheel)="onMoveLeft($event)">
    <img #image *ngFor="let image of images"
         alt="image"
         [src]="image.src.medium"
          (click)="onImage(image.id)">
  </div>
</div>

<ng-template #fullScreen>

</ng-template>



