@import "mixins.scss";
@import "variables.scss";

@keyframes menu_go_right{
  0% { left: -100%;}
  100% {left: 0;}
}
@keyframes menu_go_left{
  0% { left: 0;}
  100% {left: -100%;}
}
@keyframes row_go_down {
  0% { margin-top: -100%;}
  100% {margin-top: $header-height + 20px;}
}

@keyframes anim-btn-start{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
