@import "mixins.scss";
@import "variables.scss";


//drop-panel-moving----------------------------------------------------------------------
@keyframes make_visible_move_right_on_start {
  0% {left: 0; transform: translate(-100%, -50%);}
  100% {left: 0; transform: translate(0, -50%);}
}

@keyframes make_hidden_move_left_from_start {
  0% {left: 0; transform: translate(0, -50%);}
  100% {left: 0; transform: translate(-100%, -50%);}
}

@keyframes make_visible_move_right_on_center {
  0% {left: 0; transform: translate(-100%, -50%);}
  100% {left: 50%; transform: translate(-50%, -50%);}
}

@keyframes make_hidden_move_left_from_center {
  0% {left: 50%; transform: translate(-50%, -50%);}
  100% {left: 0; transform: translate(-100%, -50%);}
}

@keyframes make_visible_move_right_on_end {
  0% {left: 0; transform: translate(-100%, -50%);}
  100% {left: 100%; transform: translate(-100%, -50%);}
}

@keyframes make_hidden_move_left_from_end {
  0% {left: 100%; transform: translate(-100%, -50%);}
  100% {left: 0; transform: translate(-100%, -50%);}
}

@keyframes make_visible_move_left_on_end {
  0% {left: 100%; transform: translate(0, -50%);}
  100% {left: 100%; transform: translate(-100%, -50%);}
}

@keyframes make_hidden_move_right_from_end {
  0% {left: 100%; transform: translate(-100%, -50%);}
  100% {left: 100%; transform: translate(0, -50%);}
}

@keyframes make_visible_move_left_on_center {
  0% {left: 100%; transform: translate(0, -50%);}
  100% {left: 50%; transform: translate(-50%, -50%);}
}

@keyframes make_hidden_move_right_from_center {
  0% {left: 50%; transform: translate(-50%, -50%);}
  100% {left: 100%; transform: translate(0, -50%);}
}

@keyframes make_visible_move_left_on_start {
  0% {left: 100%; transform: translate(0, -50%);}
  100% {left: 0; transform: translate(0, -50%);}
}

@keyframes make_hidden_move_right_from_start {
  0% {left: 0; transform: translate(0, -50%);}
  100% {left: 100%; transform: translate(0, -50%);}
}

//team-switching-------------------------------------------------------------------------
@keyframes switch-blue {
  0% {left: 0; right: 50%}
  100% {left: 50%; right: 0}
}

@keyframes switch-red {
  0% {left: 50%; right: 0;}
  100% {left: 0; right: 50%;}
}

