.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: $dark_grey07;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #28a5c4, #ffffff, #8b4513);
    box-shadow: $panel-shadow;
}
.btn:hover {
    color: #000;
    border: 3px solid saddlebrown;
    animation: border3px-anim 1500ms linear 0s infinite normal both;
    transition: 2s;
}
.btn:active {
    box-shadow: $click-shadow;
}