$dark_grey: #3C3232;
$dark_grey06: rgba(60, 50, 50, 0.6);
$dark_grey07: rgba(60, 50, 50, 0.7);
$dark_grey08: rgba(60, 50, 50, 0.8);
$dark_grey09: rgba(60, 50, 50, 0.9);

$blue: #6495ed;
$blue06: rgba(100, 149, 237, 0.6);
$blue07: rgba(100, 149, 237, 0.7);
$blue08: rgba(100, 149, 237, 0.8);
$blue09: rgba(100, 149, 237, 0.9);

$red: #f03;

$brown: #8b4513;

$green: #0F520FFF;
$light-green: #15DB95;

$grey: #8590AA;

$black: #1A1A1D;
$black03: rgba(26, 26, 29, 0.3);

///* ===== DashBoard Colors ===== */
//$primary-dashboard: #009163;
//$panel-dashboard: #FFF;
//$text-dashboard: #000;
//$black-light-dashboard: #707070;
//$border-dashboard: #e6e5e5;
//$toggle-dashboard: #DDD;
//$box1-dashboard: #9ECD6D;
//$box2-dashboard: #D4D671;
//$box3-dashboard: #FFDE82;
//$title-icon-dashboard: #fff;
//
//$primary-dashboard-dark: #3A3B3C;
//$panel-dashboard-dark: #242526;
//$text-dashboard-dark: #CCC;
//$black-light-dashboard-dark: #CCC;
//$border-dashboard-dark: #4D4C4C;
//$toggle-dashboard-dark: #FFF;
//$box1-dashboard-dark: #3A3B3C;
//$box2-dashboard-dark: #3A3B3C;
//$box3-dashboard-dark: #3A3B3C;
//$title-icon-dashboard-dark: #CCC;
