$dark_grey: #2F2F2F;
$dark_grey06: rgba(47, 47, 47, 0.6);
$dark_grey07: rgba(47, 47, 47, 0.7);
$dark_grey08: rgba(47, 47, 47, 0.8);
$dark_grey09: rgba(47, 47, 47, 0.9);

$light-grey: #808080;


$blue: #6495ed;
$blue06: rgba(100, 149, 237, 0.6);
$blue07: rgba(100, 149, 237, 0.7);
$blue08: rgba(100, 149, 237, 0.8);
$blue09: rgba(100, 149, 237, 0.9);

$light-blue: #87cbea;

$red: #EB3636;
$light-red: #D38383;

$brown: #8b4513;

$green: #0F520FFF;
$light-green: #15DB95;

$grey: #8590AA;

$black: #1E1E1E;
$black03: rgba(30, 30, 30, 0.3);
$black05: rgba(30, 30, 30, 0.5);

$white: #FFFFFF;

$golden: #CE9F25;
$golden05: rgba(206, 159, 37, 0.5);
$golden06: rgba(206, 159, 37, 0.6);
$golden07: rgba(206, 159, 37, 0.7);
$golden08: rgba(206, 159, 37, 0.8);
