$dark_grey: #3C3232;
$dark_grey06: rgba(60, 50, 50, 0.6);
$dark_grey07: rgba(60, 50, 50, 0.7);
$dark_grey08: rgba(60, 50, 50, 0.8);
$dark_grey09: rgba(60, 50, 50, 0.9);

$blue: #6495ed;
$blue06: rgba(100, 149, 237, 0.6);
$blue07: rgba(100, 149, 237, 0.7);
$blue08: rgba(100, 149, 237, 0.8);
$blue09: rgba(100, 149, 237, 0.9);

$red: #f03;

$brown: #8b4513;

$green: #0F520FFF;
$light-green: #15DB95;

$grey: #8590AA;

$black: #1A1A1D;
$black03: rgba(26, 26, 29, 0.3);

$white: #FFFFFF;

$golden: #CE9F25;

