$img-background: url('../images/background.png');
$img-map-background: url('../images/map_1.png');
$img-red-background: url('../images/red-background.png');
$img-blue-background: url('../images/blue-background.png');

$img-smile: url('../images/smile.gif');
$img-smile-width: 50px;
$img-smile-height: 38px;

$img-gameLogo: url('../images/gameLogo.png');
$img-gameLogo-width: 165px;
$img-gameLogo-height: 50px;

$img-logo: url('../images/logo.png');
$img-logo-width: 50px;
$img-logo-height: 50px;

$img-cursor: url('../images/cursor.png');
$img-cursor-width: 20px;
$img-cursor-height: 20px;

$img-game-map: url('../images/game-settings/map_1.png');


$img-radio-tank: url('../images/radio1.png');
$img-radio-tank-red: url('../images/radioRed.png');
$img-radio-tank-blue: url('../images/radioBlue.png');

$img-gallery-icon: url('../images/gallery-icon3.svg');
$img-google-icon: url('../images/google-icon.svg');
$img-facebook-icon: url('../images/facebook-icon.svg');
