$img-background: url('../images/background.png');

$img-gameLogo: url('../images/gameLogo.png');
$img-gameLogo-width: 165px;
$img-gameLogo-height: 50px;

$img-logo: url('../images/logo.png');
$img-logo-width: 50px;
$img-logo-height: 50px;
