$img-background: url('../images/background.png');

$img-smile: url('../images/smile.gif');
$img-smile-width: 50px;
$img-smile-height: 38px;

$img-gameLogo: url('../images/gameLogo.png');
$img-gameLogo-width: 165px;
$img-gameLogo-height: 50px;

$img-logo: url('../images/logo.png');
$img-logo-width: 50px;
$img-logo-height: 50px;

$img-cursor: url('../images/cursor.png');
$img-cursor-width: 20px;
$img-cursor-height: 20px;
