$panel-shadow: 2px 2px 6px 2px #000;
$click-shadow: 0px 0px 1px 2px #000;
$text-shadow: 2px -2px 6px #000;
$border-img-gradient: linear-gradient(to bottom right, #006400, #8b4513) 2 stretch stretch;
$border-img-grad-brown-blue: linear-gradient(to bottom right,#8b4513, #ffffff, #0000ff) 2 stretch stretch;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
