@use 'colors' as colors;

//header--------------------------------------------------------------------------
$header-height: 90px;
$header-z-index: 2;
//--------------------------------------------------------------------------header

//scrollbar-----------------------------------------------------------------------
$scrollbar-size: 6px;
//-----------------------------------------------------------------------scrollbar

//p, b----------------------------------------------------------------------------
$p-z-index: 1;
$b-z-index: 1;
//----------------------------------------------------------------------------p, b


$panel-shadow: 2px 2px 6px 2px #000;
$panel-shadow-blue: 0 2px 4px 0 colors.$blue;
$panel-shadow-red: 0 2px 4px 0 colors.$red;
$click-shadow: 0px 0px 1px 2px #000;
$text-shadow: 2px -2px 6px #000;
$border-img-gradient: linear-gradient(to bottom right, colors.$green, #8b4513) 2 stretch stretch;
$border-img-grad-brown-blue: linear-gradient(to bottom right, colors.$brown, colors.$blue) 2 stretch stretch;
$border-img-grad-white-red: linear-gradient(to bottom right,#ffffff, colors.$red) 2 stretch stretch;
$border-img-grad-brown-red: linear-gradient(to bottom right, colors.$green, colors.$red) 2 stretch stretch;
$grad-darkgrey-blue: linear-gradient(to bottom right, colors.$dark_grey 30%, colors.$blue);
$grad-darkgrey-red: linear-gradient(to bottom right, colors.$dark_grey 30%, colors.$red);
$btn-grad-blue: linear-gradient(to bottom, colors.$blue, #ffffff, colors.$brown);
$btn-grad-red: linear-gradient(to bottom, colors.$red, #ffffff, colors.$green);
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
