@use 'mixins' as mixins;
@use 'variables' as variables;

:host {
  .inventory-wrapper {
    @include mixins.vm-media(
        horizontal,
          (border-radius, (13px, 15px)),
          (width, (320px, 400px)),
          (height, (variables.$inventory-height-sm, variables.$inventory-height-md)),
    );

    .inventory-container {
      .inventory-items {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .inventory-item {
          .item-quantity {
            display: inline-block;
            min-width: 20px;
            position: absolute;
            text-align: center;
            top: 100%;
            left: 100%;
            transform: translate(-100%, -100%);
            padding: 2px 3px;
            border-radius: 8px 0 6px 0;
            border-left: 2px solid var(--mat-sys-surface-container);
            border-top: 2px solid var(--mat-sys-surface-container);
            background: var(--mat-sys-primary-container);
          }
        }

        .small-icon {
          width: 70% !important;
          height: 70% !important;
          left: 50% !important;
          top: 50% !important;
          translate: -50% -50% !important;
        }
      }
    }
  }
}
