<div class="tank-inventions">
  <div class="inventions-container">
    <div class="inventions">
      @for (inventoryCell of inventory(); track $index) {
        <div
          class="invention-item"
          [draggable]="inventoryCell?.quantity"
          (dragover)="$event.preventDefault()"
          (drop)="onDrop($index, $event)"
          (dragstart)="onDragStart($index)"
          (dragend)="onDragEnd()"
          (dragenter)="onDragEnter($event)"
          (dragleave)="onDragLeave($event)"
          (dblclick)="onDoubleClick($index)">
          @if (!inventoryCell?.quantity) {
            <div [ngClass]="{ 'icon-wrapper': true, 'icon-stub': !inventoryCell?.quantity }">
              <img fill class="img" ngSrc="assets/icons/tank/invention-stub.svg" alt="#">
            </div>
          } @else if (inventoryCell) {
            <div class="icon-wrapper">
              <img
                fill
                alt="#"
                [ngClass]="{
                       'img': true,
                       'small-icon': inventoryCell.itemType === tankItemType.Bullet,
                       'large-icon': false
                       }"
                [ngSrc]="inventoryCell.path"
                [style.transform]="inventoryCell | rotateBullet">
            </div>
            <span class="item-quantity">{{ inventoryCell.quantity }}</span>
          }
        </div>
      }
    </div>
  </div>
</div>
