@use 'mixins';
@use 'variables';
@use 'colors';
@use 'animations';
@use 'images';
@use 'fonts';

.position-selection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid colors.$golden;
  border-radius: 20px;
  row-gap: 15px;
  @include mixins.media-property(H, padding, 15px 15px, 15px 15px 30px, 15px 15px 40px);
  @include mixins.media-property(H, height, 491px, 519px, 519px, 529px);
  @include mixins.media-property(H, min-width, auto, 370px);
  h2 {
    color: colors.$golden;
  }
  .toggle-team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 260px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    color: colors.$light-grey;
    background-color: colors.$dark_grey;
    .switcher {
      position: absolute;
      width: 50%;
      height: 100%;
      border-radius: 10px;
      transition: 0.5s;
    }
    .switch-blue {
      animation: switch-blue 0.3s ease-out 1 both;
      background: linear-gradient(to bottom, colors.$blue, colors.$light-blue);
    }
    .switch-red {
      animation: switch-red 0.3s ease-out 1 both;
      background: linear-gradient(to bottom, colors.$red, colors.$light-red);
    }
    p{
      font-size: 1.5rem;
      cursor: pointer;
      user-select: none;
      z-index: variables.$p-z-index;
    }
    .white {
      color: colors.$white;
    }
  }
  .positions-wrapper {
    display: flex;
    @include mixins.media-property(H, column-gap, 35px, 50px);
    .position {
      display: flex;
      column-gap: 10px;
      .position-radio {
        width: 20px;
        height: 20px;
      }
      label {
        color: colors.$white;
      }
    }
  }
  .position-view {
    border-radius: 25px;
    position: relative;
    @include mixins.media-property(H, width, 270px, 300px);
    .map {
      border-radius: 25px;
      @include mixins.media-property(H, width, 270px, 300px);
    }
    .pos-view {
      position: absolute;
      @include mixins.media-property(H, width, 72px, 80px);
      @include mixins.media-property(H, height, 81px, 90px);
      .pos-view-content {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        img {
          position: absolute;
          object-fit: fill;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        b {
          margin-top: 15px;
          color: colors.$white;
          user-select: none;
          z-index: variables.$b-z-index;
          @include mixins.media-property(H, margin-top, 12px, 15px);
        }
      }
    }
    .red-pos0 {
      @include mixins.media-property(H, top, 72px, 80px);
      @include mixins.media-property(H, left, 18px, 20px);
    }
    .red-pos1 {
      @include mixins.media-property(H, top, 104px, 115px);
      @include mixins.media-property(H, left, 18px, 20px);
    }
    .red-pos2 {
      @include mixins.media-property(H, top, 171px, 190px);
      @include mixins.media-property(H, left, 84px, 93px);
    }
    .red-pos3 {
      @include mixins.media-property(H, top, 171px, 190px);
      @include mixins.media-property(H, left, 117px, 130px);
    }
    .blue-pos0 {
      @include mixins.media-property(H, top, 68px, 75px);
      @include mixins.media-property(H, left, 180px, 200px);
    }
    .blue-pos1 {
      @include mixins.media-property(H, top, 101px, 112px);
      @include mixins.media-property(H, left, 180px, 200px);
    }
    .blue-pos2 {
      @include mixins.media-property(H, top, 171px, 190px);
      @include mixins.media-property(H, left, 113px, 125px);
    }
    .blue-pos3 {
      @include mixins.media-property(H, top, 171px, 190px);
      @include mixins.media-property(H, left, 79px, 88px);
    }
  }
}
