@use 'mixins';
@use 'variables';
@use 'colors';
@use 'animations';
@use 'images';

.full-screen-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: colors.$black;
  overflow: hidden;

  i {
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    @include mixins.media-property(H, font-size, 1.5rem, 1.5rem, 2rem, 2rem);
    @include mixins.media-property(H, top, 15px, 15px, 20px, 20px);
    @include mixins.media-property(H, right, 20px, 20px, 30px, 30px);
  }

  .image-wrapper {
    display: grid;
    grid-template-rows: 100vh;
    align-items: center;
    @include mixins.media-property(H, grid-template-columns, 30px 1fr 30px, 40px 1fr 40px, 50px 1fr 50px, 50px 1fr 50px);
    @include mixins.media-property(H, grid-column-gap, 10px, 10px, 20px, 20px);
    div{
      display: flex;
      justify-content: center;
      i {
        position: static;
        flex-shrink: 0;
        @include mixins.media-property(H, font-size, 1.5rem, 1.5rem, 2rem, 2rem);
      }
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
