<div class="position-selection-wrapper">
  <h2>Select your position</h2>
  <div class="toggle-team" (click)="onTeamChange(true)">
    <div [ngClass]="['switcher', (team === 'red') ?
                     'switch-red' :
                     'switch-blue']"
         (click)="$event.stopPropagation()">
    </div>
    <p [class]="{'white': team === 'red'}"
       (click)="onTeamChange(team === 'red')">Red</p>
    <p [class]="{'white': team === 'blue'}"
       (click)="onTeamChange(team === 'blue')">Blue</p>
  </div>
  <div class="positions-wrapper" [formGroup]="form">
    <div *vmFor="4; let i = index" class="position">
      <input class="position-radio form-control"
             type="radio"
             formControlName="position"
             [id]="'pos' + i"
             [value]="i">
      <label [for]="'pos' + i">{{i + 1}}</label>
    </div>
  </div>
  <div class="position-view">
    <img *ngIf="team === 'red'" class="map" src="../../assets/images/red-map-pos.png" alt="map">
    <img *ngIf="team === 'blue'" class="map" src="../../assets/images/blue-map-pos.png" alt="map">
    <div [ngClass]="['pos-view', (team === 'red') ?
                     'red-pos' + form.get('position').value :
                     'blue-pos' + form.get('position').value]">
      <div *ngIf="team === 'red'" class="pos-view-content">
        <img src="../../assets/images/pos-red.png" alt="">
        <b>{{form.get('position').value + 1}}</b>
      </div>
      <div *ngIf="team === 'blue'" class="pos-view-content">
        <img src="../../assets/images/pos-blue.png" alt="">
        <b>{{form.get('position').value + 1}}</b>
      </div>
    </div>
  </div>
</div>
